<table *ngIf="selectedCoreData?.length > 0" #maptable>
    <thead>
        <tr>
            <th (click)="sortByAreaName()" style="text-align:left">Area</th>
            <th (click)="sortByCount()">Count</th>
            <th (click)="sortByValue()">Value</th>
            <th>LCI</th>
            <th>UCI</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of selectedCoreData" (mouseover)="rowMouseHovered = true;onRowMouseOver($event)" (mouseout)="rowMouseHovered = false;onRowMouseLeave($event)" [attr.areaCode]="item.areaCode" [class.rowHover]="rowMouseHovered" (click)="onRowClick($event)">
            <td [ngStyle]="{'border-left-color': item.colour}">{{item.areaName}}</td>
            <td>{{item.formattedCount}}</td>
            <td [ngClass]="{'hasNote value-note-symbol': item.isNote}" [attr.data-NoteId]="item.isNote?item.noteId:null" (mouseenter)="onMouseEnter($event)" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)" innerHTML="{{item.formattedValue}}">
                <div style="display:inline" *ngIf="item.isNote">*</div>
            </td>
            <td>
                <div innerHTML="{{item.loCI}}"></div>
            </td>
            <td>
                <div innerHTML="{{item.upCI}}"></div>
            </td>
        </tr>
    </tbody>
</table>