@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section headContent {
    @Html.Partial("_JavaScriptAndCssForDataPage")
    @Html.Partial("_SearchSpecificJavaScript")
}
<div id="searchContents">
    @Html.Partial("_DataPageBody")
</div>
