@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section headContent {
    <script type="text/javascript">//<![CDATA[
        isInitRequired = false;
        //]]</script>
}
<div class="full-width title-divider"></div>
<div id="error-box" class="standardWidth">
    <h2>
        Search results are not available on the test site
    </h2>
</div>
