/*
* CSS that is common amongst all Fingertips profiles
*/
a {
    cursor: pointer;
}


/*----------------------------------------
	Lightbox
------------------------------------------*/

.lightbox-button-box {
    float: left;
    width: 100%;
    padding: 20px 0;
    clear: both;
}

    .lightbox-button-box .btn {
        min-width: 70px;
    }

    h2.lightbox-title {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

#infoBox select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    margin: 5px 0 5px 5px;
}

#infoBox h2 {
	padding: 3px 0 12px 9px;
}

.exportBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    padding: 2px 5px 2px 5px;
    margin: 0 26px 0 0;
    width: 60px;
    border: 1px solid #DDD;
    cursor: pointer;
}

    .exportBtn:hover {
        background: #ccc;
        cursor: pointer;
    }

.greyBoxed {
    background: none repeat scroll 0 0 #f6f7f7;
    border: 1px solid #DDD;
}

/* Button options */
a.page-selector, a.page-selector:visited, a.page-selector:active {
    color: #2e3191;
    text-decoration: none;
    margin-left: 4px;
    padding: 2px 3px 2px 3px;
    float: left;
    display: block;
    font-weight: bold;
    font-size: 90%;
}

    a.page-selector:hover {
        text-decoration: underline;
    }

#sort-selection-box {
    padding-top: 5px;
}

div.close {
    width: 100%;
    text-align: center;
    font-style: italic;
    margin-top: 6px;
}


/* ------------------------------------------------------------
	Tooltip
------------------------------------------------------------ */

#tooltip, .plain {
    font-family: verdana;
    font-size: 12px;
}

#tooltip {
    border-style: dotted;
    border-width: thin;
    border-color: #aaa;
    background-color: #eee;
    position: absolute;
    display: none;
    padding: 5px;
    z-index: 10;
    width: 200px;
    cursor: pointer;
}

#tooltipIndicator {
    float: left;
    clear: left;
    width: 100%;
    margin-top: 10px;
}

#tooltip-target {
    float: left;
    clear: left;
    font-weight: bold;
}

#tooltipArea {
    width: 100%;
    clear: left;
    float: left;
    font-size: 14px;
}

.tooltipValueNote {
    width: 100%;
    clear: left;
    float: left;
    font-style: italic;
}

#tooltipData {
    width: 100%;
    float: left;
    font-weight: bold;
}


.tooltip-value-vote-spine-chart {
    margin-top: 10px;
}

#range-text {
    clear: left;
    float: left;
    width: 100%;
    font-style: italic;
}

div#main {
    padding-top: 9px;
}

#footerSpace {
    width: 100%;
    height: 20px;
    float: left;
    clear: both;
}

.bordered-table th {
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    text-align: center;
}

.bordered-table td, .key {
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
}

th.header, td.header {
    font-weight: bold;
    text-align: center;
    background-color: #eeeeee;
    vertical-align: top;
}

td.header {
    width: 120px;
    text-align: left;
}

button.pLink, td.pLink, td.search-area-type, a.pLink {
    color: #1f0aa1;
    cursor: pointer;
    text-decoration: none;
}

button.pLink {
    background: none;
}

    td.search-area-type:hover, a.pLink:hover, button.pLink:hover {
        text-decoration: underline;
    }

    td.search-area-type {
        padding: 0 5px;
    }

a.linkButton, a.linkButton:hover {
    color: #1f0aa1;
    font-size: 125%;
    text-decoration: none;
}

    a.linkButton:hover {
        color: black;
    }

th#areaHeader {
    width: 150px;
    padding-top: 5px;
}

th.indicatorHeader {
    width: 300px;
}

th.numericHeader, th.numericWideHeader {
    text-align: center;
    vertical-align: top;
    width: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.tall-central-message {
    font-size: 17px;
    margin-top: 140px;
    height: 180px;
    width: 100%;
    text-align: center;
    float: left;
    color: #444;
}

.bold {
    font-weight: bold;
}

img.verticalText {
    border: 0 none white;
}

img.pLink {
    border: 1px solid #eeeeee;
    background: white;
}

    img.pLink:hover, img.sortedBy {
        border: 1px solid blue;
        background: #fdfdd7;
    }

a.descLink {
    margin-right: 2px;
}

#dataContainer {
    float: left;
    width: 100%;
}

#spinner {
    margin: 200px 0;
    color: #999;
    font-size: 10px;
    text-align: center;
}

#spinnerLabel {
    right: -2px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cl {
    clear: left;
}

.w100 {
    width: 100%;
}

#pholioHeader {
    vertical-align: top;
    background: #eeeeee;
    height: 105px;
    padding: 4px;
    position: relative;
}

.home-header {
    color: #333;
    text-decoration: none;
}

.home-header:hover {
    color: #333;
}

#pageTitle {
    width: 365px;
    height: 25px;
    text-align: left;
    margin-left: 120px;
    margin-top: 10px;
    float: left;
    font-size: 18px;
    line-height: 20px;
}

.yearRange {
    font-size: 12px;
}

.indicatorOption, .indicatorOptionB {
    float: left;
    clear: left;
    width: 100%;
    background: white;
    cursor: pointer;
    text-align: left;
    padding: 0 0 1px 15px;
    border-color: #eeeeee;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 2px;
    border-right-width: 2px;
}

.indicatorOptionB {
    background-color: #f7f7f7;
}

    .indicatorOption:hover, .indicatorOptionB:hover {
        background-color: #fdfdd7;
    }

.selectedIndicator {
    background-image: url('../images/indicatorOptionArrow.gif');
    background-repeat: no-repeat;
    font-weight: bold;
    background-color: #3d3d3d;
    color: White;
}

    .selectedIndicator:hover {
        background-color: #3d3d3d;
    }

#areaSort {
    left: 57px;
    position: absolute;
    bottom: 1px;
}

.tartan-fill {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.print-only {
    display: none;
}

/* Sort image links */
div.rowSort {
    height: 35px;
}

a.rowSort, a.rowSort:visited, a.columnSort, a.columnSort:visited {
    text-decoration: none;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

    a.rowSort, a.rowSort:visited {
        height: 35px;
        background-image: url('../images/sortRowDisabled.png');
    }

        a.rowSort:hover {
            text-decoration: none;
            background-image: url('../images/sortRowEnabled.png');
        }

    a.columnSort, a.columnSort:visited {
        height: 16px;
        background-image: url('../images/sortColumnDisabled.png');
    }

        a.columnSort:hover {
            text-decoration: none;
            background-image: url('../images/sortColumnEnabled.png');
        }

.bold {
    font-weight: bold;
}

.menuHeader {
    margin-top: 2px;
    margin-right: 3px;
}

td.worse, td.worst, td.same, td.better, td.best, td.none, td.bobLower, td.bobHigher, td.bobLowest, td.bobHighest,
    .grade-rag-quintile-1, .grade-rag-quintile-2, .grade-rag-quintile-3, .grade-rag-quintile-4, .grade-rag-quintile-5, 
    .grade-bob-quintile-1, .grade-bob-quintile-2, .grade-bob-quintile-3, .grade-bob-quintile-4, .grade-bob-quintile-5 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    cursor: default;
}

td.grade-rag-quintile-1, span.grade-rag-quintile-1 {
    background-color: #DED3EC;
    color: Black;
}

td.grade-rag-quintile-2, span.grade-rag-quintile-2 {
    background-color: #BEA7DA;
    color: Black;
}

td.grade-rag-quintile-3, span.grade-rag-quintile-3 {
    background-color: #9E7CC8;
    color: White;
}

td.grade-rag-quintile-4, span.grade-rag-quintile-4 {
    background-color: #7E50B6;
    color: White;
}

td.grade-rag-quintile-5, span.grade-rag-quintile-5 {
    background-color: #5E25A4;
    color: White;
}

td.grade-bob-quintile-1, span.grade-bob-quintile-1 {
    background-color: #254BA4;
    color: White;
}

td.grade-bob-quintile-2, span.grade-bob-quintile-2 {
    background-color: #506EB6;
    color: White;
}

td.grade-bob-quintile-3, span.grade-bob-quintile-3 {
    background-color: #7C93C8;
    color: White;
}

td.grade-bob-quintile-4, span.grade-bob-quintile-4 {
    background-color: #A7B6DA;
    color: Black;
}

td.grade-bob-quintile-5, span.grade-bob-quintile-5 {
    background-color: #D3DBEC;
    color: Black;
}

td.worse, span.worse {
    background-color: #c00000;
    color: White;
}

td.worst, span.worst {
    background-color: #821733;
    color: White;
}

td.same, span.same {
    background-color: #ffc000;
    color: #333;
}

td.better, span.better {
    background-color: #92d050;
        color: #333;
}

td.best, span.best {
    background-color: #00b092;
    color: #333;
}

.quintile-overview-spacer {
    width: 147px;
}

span.target {
    padding: 0 2px;
    margin: 2px 0 0 0;
    display: inline-block;
    border-right: 4px solid #fff;
}

.key-table span.target {
    padding: 2px 4px;
    margin: 0;
}

#trends-container .target-box {
    width: 100%;
    text-align: right;
}

.worse .unit {
    color: white;
}

td.bobLowest, span.bobLowest {
    background-color: rgb(37,37,99);
    color: White;
}

td.bobLower, span.bobLower {
    background-color: rgb(85,85,230);
    color: White;
}

td.bobHigher, span.bobHigher, td.overlapping-cis {
    background-color: rgb(190,210,255);
}

td.bobHighest, span.bobHighest, td.overlapping-cis {
    background-color: rgb(193,244,240);
}

td.none {
    background-color: white;
}

/* ------------------------------------------------------------
	Search
------------------------------------------------------------ */
.searchBlur {
    color: #aaa;
}

#search-button {
    font-size: 13px;
    width: 24px;
    height: 24px;
    float: right;
    border: 0 solid #eee;
    border-left: none;
    font-weight: bold;
    cursor: pointer;
    background: white;
    background-image: url(../images/search2.jpg);
    background-repeat: no-repeat;
}

#noMatch {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 150%;
}

#searchResultText td.selected {
    text-decoration: underline;
}


/* ------------------------------------------------------------
	Tabs
------------------------------------------------------------ */
.page {
    background: #D7EBE8; 
    margin-right:2px;
    color:#666;
    text-decoration: none;
    width: 81px;
    height: 65px;
    float: left;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
}

.page:hover {
background:#CAE4E0;
color:#333;
}

div.page-selected, div.page-selected:hover
{
    color:white;
    background-color: #02ae94;
}

.page div {
    position: absolute;
    height: 30px;
    width: 34px;
    top: 3px;
    left: 24px;
    background-repeat: no-repeat;
    opacity:0.5;
}

#page-overview div {
    background-image: url('../images/tabs/overview.gif');
}

#page-trends div {
    background-image: url('../images/tabs/trends.gif');
}

#page-area-profile div {
    background-image: url('../images/tabs/areas.gif');
}

#page-indicators div, #page-bar div {
    background-image: url('../images/tabs/indicators.gif');
}

#page-boxplots div {
    background-image: url('../images/tabs/box-plot.png');
}

#page-reports div {
    background-image: url('../images/tabs/reports.gif');
}

#page-metadata div {
    background-image: url('../images/tabs/metadata.gif');
}

#page-inequalities div {
background-image: url('../images/tabs/inequalities.gif');
    width: 60px;
    left: 15px;
}

#page-map div {
    background-image: url('../images/tabs/map.gif');
}

#page-compare-indicators div {
    background-image: url('../images/tabs/scatter.gif');
}

#page-download div {
    background-image: url('../images/tabs/download.gif');
    opacity: 0.45;
}

#page-england div {
    background-image: url('../images/tabs/england.gif');
    opacity: 0.4;
}

#page-population div {
    background-image: url('../images/tabs/population.gif');
    opacity: 0.6;
}

div.page-selected div {
    opacity:1.0 !important;
}

div.page-selected
{
    color:white;
}
div.page:hover span
{
    text-decoration: underline;
}
div.page span
{
    font-weight: bold;
    display:block;
    padding-top:34px;
    text-align: center;
    line-height: 0.95em;
}

/* ------------------------------------------------------------
	General
------------------------------------------------------------ */

.rightSpacer {
    float: right;
    width: 15px;
    height: 28px;
}

.standard-width {
    width: 1000px;
    margin: 0 auto 0 auto;
    clear: both;
}

.full-width {
    width: 100%;
    clear: both;
}

.width-10 {
    width: 10%;
}

.width-90 {
    width: 90%;
}

.grey {
    background: #eee;
}

.centered {
    margin: 0 auto 0 auto;
}

TH.topRow {
    height: 14px;
    line-height: 14px;
    padding-bottom: 1px;
}

.front-page-text {
    margin-left: 40px;
    margin-top: 20px;
    color: #444;
    line-height: 20px;
}

a.start, a.start:active, a.start:visited {
    display: block;
    font-size: 18px;
    padding: 5px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
}

.data-header {
    font-size: 12px;
}

.marginTop5 {
    margin-top:5px;
}


#trendDisplayOptions {
    float: left;
    width: auto;
    vertical-align: middle;
    text-align: center;
}

#trendDisplayOptions span {
    font-weight: bold;
    line-height: 24px;
}

#trendDisplayOptions #options {
    float: right;
    margin-right: 20px;
    margin-left: 10px;
}

@media print {
    th.sortHeader, td.sort, .noPrint, .arrowUnselected, .arrowUnselected70, #download {
        display: none;
    }

    .print-only {
        display: block; /*inherit not work IE6/7*/
    }

    div.tartan-text {
        color: black;
    }

    #left-tartan-table {
        width: 38px;
    }

     #tabs, div.page-selector, a.page-selector, .domain-option, #indicator-menu-prev, #indicator-menu-next {
        display: none !important;
    }

    div.page-selected, a.page-selected {
        display: block !important;
    }

    .domain-option {
        border: none;
        width: 0 !important;
    }

    .selected-domain {
        display: block !important;
        width: 100% !important;
        font-size: 125%;
    }

    #view-options {
        border: none;
    }

    #copyright {
        font-style: italic;
    }
}

.cursor-pointer {
    cursor: pointer;
}

/*----------------------------------------
    Tabbed Header
------------------------------------------*/
h2.tab {
    padding-bottom: 0;
    min-height: 50px;
}

.tab-selected {
    background-color: #02ae94;
    color: #ffffff !important;
    padding: 10px 10px 4px 10px;
    float: left;
    font-weight: bold;
    text-decoration: none;
}

.tab-selected:hover {
    text-decoration: underline;
    cursor: auto;
}

.tab-not-selected {
    background-color: #ffffff;
    color: #02ae94 !important;
    padding: 10px 10px 2px 10px;
    float: left;
    text-decoration: none;
    font-weight: normal;
}

.tab-not-selected:hover {
    cursor: pointer;
    text-decoration: underline #02ae94;
}

.tab-selected:focus,
.tab-not-selected:focus {
    outline: 0;
}

.tab-button {
    color: #02ae94;
    padding: 10px 10px 4px 10px;
    float: left;
}