
h2 {
    margin: 35px 0px 3px 0;
    padding: 0 0 3px 0;
    border-bottom: 5px solid #02ae94;
    font-weight: bold;
}

td {
    vertical-align: top;
}

#introduction a {
    text-decoration: underline;
}

#about-fingertips ul, #introduction ul, #recent-updates ul, .phof-domains ul {
    font-size: 17px;
    line-height: 1.3em;
    margin: 0 10px 0 18px;
    list-style: disc;
    list-style-position: outside;
}

#introduction li, #recent-updates li, .phof-domains li {
    margin-left: 10px;
}

#about-fingertips li {
    margin-left: 0px;
}

#about-fingertips p {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 17px;
    line-height: 1.5;
}

#introduction p {
    margin-top: 12px;
}

#introduction table {
    margin: 0 0px;
    font-size: 17px;
}

.domain-heading-link:before {
    content: "- ";
}

.domain-heading-link {
    list-style: none;
    font-size: 17px;
    line-height: 1.3em;
    margin: 0 10px 0 10px;
}

    .domain-heading-link:hover {
        text-decoration: underline;
    }

    .domain-heading-link p {
        margin-top: 12px;
        margin-bottom: 12px;
    }

.phof-domains a, .phof-domains a:visited,
.home-profiles a.title, .home-profiles a.title:active, .home-profiles a.title:visited {
    text-decoration: none;
    font-style: normal;
    color: #39836e;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0 10px 0 10px;
    display: block;
}

.table a.title {
    text-decoration: none;
    font-style: normal;
    color: #39836e;
    font-size: 1.6em;
    line-height: 1.3;
    font-weight: bold;
    margin: 5px 0 5px 0;
    display: block;
}

    .table a.title:hover {
        text-decoration: underline;
    }

.margin-left {
    margin-left: -10px;
}

.table td, .table th {
    border-top: 0px solid #eceeef;
}

.home-profiles a, .phof-domains a {
    text-decoration: none;
    color: #39836e;
}

    .home-profiles a:hover, .phof-domains a:hover {
        text-decoration: underline;
    }

.home-profiles td {
    padding-top: 12px;
}

/*----------------------------------------
    Introduction side bar
------------------------------------------*/
#intro-sidebar {
    padding-top: 67px;
    padding-bottom: 0;
    float: left;
    width: 100%;
}

#intro-sidebar .link-large {
    color: #39836E;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 0;
    float: left;
}

#intro-sidebar .link-large:hover {
    text-decoration: underline;
}

/*----------------------------------------
    Start button
------------------------------------------*/

.start-button {
    color: #ffffff !important;
    float: left;
    width: 100% !important;
    text-align: center;
}

.start-button a {
    color: #ffffff !important;
    width: 100%;
    text-decoration: none !important;
    font-style: normal;
    font-size: 1.6em;
    font-weight: bold;
    display: block;
    margin: -5pt 0 -5px 0;
}

    .start-button p {
        margin: -5pt 0 -5px 0 !important;
    }

    .start-button a:hover {
        text-decoration: none !important;
        color: #ffffff !important;
    }

    .start-button .btn {
        background: #02ae94;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-family: Arial;
        color: #ffffff !important;
        font-size: 1.6em;
        text-decoration: none;
        width: 100%;
    }

        .start-button .btn:hover {
            background: #048874;
            text-decoration: none;
        }
        
/*----------------------------------------
    Recent updates
------------------------------------------*/
#recent-updates {
    margin-top: 10px;
    float: left;
    width: 100%;
}

#recent-updates a, .standard-width p a {
    color: #2e3191;
    text-decoration: underline;
}

#recent-updates h3 {
    padding-left: 0;
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
}

#recent-updates ul li {
    padding-top: 5px;
    line-height: 1em;
}

#recent-updates div {
    width: 100%;
}

#recent-updates .scrollable-box {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 700px;
}

.scrollable-box ul li {
    list-style-type: disc;
}

#update-delayed {
    margin-top: 15px;
    font-size: 200%;
    text-align: center;
}

/*----------------------------------------
    Content pages 
------------------------------------------*/
.supporting-information {
    width: 75%;
    float: left;
}

    .supporting-information p {
        padding: 10px 0;
    }

    .supporting-information h1 {
        padding-top: 10px;
        font-size: 2.5em;
    }

    .supporting-information h3 {
        padding-top: 10px;
    }

    .supporting-information ul {
        list-style: disc;
        list-style-position: outside;
        font-size: 15px;
        padding: 10px 30px;
    }

    .supporting-information li {
        padding: 1px 0;
        margin-top: 7px;
        margin-bottom: 7px;
    }

.practice-profiles-domain-list h2 {
    margin: 0;
    padding: 0 0 3px 0;
    border-bottom: 5px solid #02ae94;
    font-weight: bold;
}

/* ------------------------------------------------------------
	Visualisation tab options
------------------------------------------------------------ */
.tab-options div {
    padding-left: 10px;
}
