/* ------------------------------------------------------------
	Indicator not available
------------------------------------------------------------ */

#indicator-not-in-area {
    margin: 20px 50px;
    font-size: 16px;    
}

#indicator-not-in-area-ok {
    width:200px; 
    margin-left:200px; 
    margin-top:10px; 
    padding-top:10px; 
    padding-bottom:10px;
    font-size: 16px;
    cursor: pointer;
}

/* ------------------------------------------------------------
	Domain options
------------------------------------------------------------ */
#domainBox
{
    width: 1000px;
    margin: 0 auto;
    padding: 3px 0 0 0;
}

    #domainBox table {
    width:100%;
        border-collapse: collapse;
    }

.domainOption
{
    text-align: center;
    cursor: pointer;
    color: #0b0c0c;
    text-decoration: none;
    border-left: 2px solid transparent;
    padding: 5px 0 3px 0;
    font-size: 1.2em;
    vertical-align: top;
}

.clickable
{
    cursor: pointer;
}

.domainOption:hover, a.pageSelector:hover, a.start:hover
{
    text-decoration: underline;
}
.selectedDomain, .selectedDomain:hover
{
    background-color: #0b0c0c;
    text-decoration: none;
    color: white;
}
 a.pageSelected, a.pageSelected:visited, a.pageSelected:hover, a.pageSelected:active
{
    background-color: #181784;
    color: white;
}

/* ------------------------------------------------------------
	Tartan rug
------------------------------------------------------------ */

div.tartanText {
    font-size: 12px;
}

#leftTartanBox {
    float: left;
    clear: left;
    padding-top: 27px;
}

#leftTartanTable {
    border-right: none;
    table-layout: fixed;
    float: left;
}

.scroll-pane {
    overflow: hidden;
    float: left;
    position: relative;
}

.scrollbar {
    padding: 0 0 0 0;
    margin: 0 2px 0 2px;
    float: left;
    clear: both;
    height: 27px;
    border: none;
}

    .scrollbar table {
        width: 100%;
        border-collapse: collapse;
    }

.tartanDivider {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 50px;
    background-image: url(../images/comparatorBg.gif);
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
}

.dividerBox {
    overflow: visible;
    z-index: 10;
    width: 800px;
    position: relative;
}

.dividerText {
    position: absolute;
    z-index: 10;
    width: 800px;
    color: #555;
    top: 0;
    height: 18px;
}

#leftTartanTable td.tartanDivider {
    border-right: none;
}

#tartanScrollBox {
    width: 10000px; /*need to be bigger if more areas*/
    overflow: hidden;
    float: left;
}

    #tartanScrollBox table {
        border-left: none;
        table-layout: fixed;
        width: auto;
    }

    #tartanScrollBox .scrollbar table {
        width: inherit;
    }

    #tartanScrollBox td.tartanDivider {
        border-left: none;
    }

    #tartanScrollBox th.rugIndicator,
    #tartanScrollBox .rugPeriod {
        color: white;
    }

    #tartanScrollBox td.rugIndicator {
        color: white;
        border-top-color: white;
        border-bottom-color: white;
    }

th.comparatorHeader
{
    background-image: url(../images/comparatorBg.gif);
}

 #tartanTableBox
{
    width: 100%;
}

th.rugIndicator, td.rugIndicator
{
    width: 224px;
}

th.rugIndicator
{
    font-weight: bold;
    vertical-align: bottom;
    text-align: left;
    height: 230px;
}
th.rugIndicator div
{
    float: left;
    padding-left: 70px;
    width: 100px;
}
td.rugIndicator div
{
    width: 220px;
    padding: 0 2px 0 2px;
}

th.rugPeriod, td.rugPeriod
{
    width: 58px;
}

#tartanScrollBox .rugIndicator {
    visibility: hidden;
}


.floatThead-table, .floatThead-table th.rugPeriod:last-of-type, .floatThead-table th.sortHeader:last-of-type, .floatThead-table th.rugPeriod:nth-last-child(2) {
    border: none;
}


/* ------------------------------------------------------------
	Other tabs
------------------------------------------------------------ */

#singleAreaTable
{
    float: left;
    clear: left;
    margin-top: 8px;
}
#indicators-container, #download-container
{
    width: 1000px;
}
#spineIndicatorHeader 
{
     width: 339px;
}

#spinePeriodHeader {
    width: 80px;
}

.hide .barBox {
    display: none;
}


/* ------------------------------------------------------------
	Data quality
------------------------------------------------------------ */

.indicator-data-quality-container {
    display: inline-block;
    position: relative;
    height: 17px;
    top: 1px;
}

.data-quality-table div {
    height: 12px;
}

.data-quality-table .label {
    padding-left: 4px;
}

.data-quality-table td.label {
    padding-left: 2px;
}

.data-quality-table .legendText {
    font-style: italic;
    text-align: right;
}

.data-quality-table{
    font-size: 11px;
    color: #777;
    margin: 0 0 0 30px;
}

#data-quality-key {
    margin-top: 9px;
    clear: left;
}

/* ------------------------------------------------------------
	Keys
------------------------------------------------------------ */

IMG.keyBar {
    position: relative !important;
    width: 20px;
    height: 11px !important;
    background: #ddd;
    border-radius: 2px;
}

TD.keyBar {
    width: 20px;
    padding: 2px 1px 0 5px;
}

IMG.keyCircle {
    position: relative;
    top: 1px;
}

td.keySpine {
    padding: 0 3px 0 3px;
    vertical-align: middle;
}

div.keySpineText {
    display: block;
    height: 18px;
    line-height: 18px;
    float: left;
    padding-left: 2px;
}

.keyCircleBox {
    float: left;
    padding-top: 3px;
}

.keyLabel {
    font-style: italic;
    text-align: right;
}
.keyContainer {
    float: left;
    margin: 10px 0 0 0;
}

#keyAdHoc, #key-spine-chart, #key-bar-chart {
    position: relative;
}

#key-spine-chart .data-quality-table {
    margin-left: 40px;
    margin-right: 0;
}

div.keyBox, div.keyBoxNone
{
    height: 20px;
    line-height: 20px;
    width: 45px;
    vertical-align: middle;
}
td.keyBoxRight
{
    border-right: 1px solid #eee;
}
td.keyBoxRight div
{
    width: auto;
    padding-left: 3px;
    padding-right: 3px;
}
.keyTable, .notComparedkeyTable
{
    font-size: 11px;
    color: #777;
}

.notComparedkeyTable {
    margin:6px auto 0 auto;
}

.keyTable
{
    float: left;
}

#map-key-part2 div {
    background: #c9c9c9;
}
.keyBox .tartanText
{
    margin-top: 0;
    font-size: 11px;
}
.keySpacer 
{
 width:15px;   
}

.key .tartanText {
    width: 45px;
}

#value-note-legend {
    float: right;
    font-size: 11px;
    color: #777;
    text-align: right;
    margin-top:8px;
}

#spineTable, #barTable {
    float: left;
}

#spineTable td.quintileKey, .keyBar.quintileKey {
     padding-top: 6px;
}

/* ------------------------------------------------------------
	Trends
------------------------------------------------------------ */
.trendTitle {
    float: left;
    font-weight: bold;
    font-size: 1.3em;
    text-align: left;
}
.trendTitle a {
    margin-right: 20px;
}

.trendUnit {
    padding: 6px 0 0 0;
    float: right;
    font-size: 11px;
}

.trendArea {
    font-size: 11px;
    padding-top: 6px;
}

td.coloured {
    background: #a8a8cc;
    color: White;
}

.light {
    background: #cfcfe2;
}

#areaTrendsContainer {
    width: 100%;
    float: left;
    clear: left;
}

.trendContainer {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 6px;
    margin-bottom: 20px;
    float: left;
}

.trendChart {
    width: 400px;
    height: 300px;
    float: left;
}

.trendHeader, .multiTrendHeader {
    float: left;
    clear: both;
}

.multiTrendHeader {
    padding: 30px 0 0 0;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    font-weight: bold;
}

.trendHeader {
    padding: 20px 0 5px 0;
    border-bottom: 5px solid #0b0c0c;
    width: 100%;
    font-weight: bold;
}

.trendPeriod {
    width: 85px;
}

.trendPeriodWide {
    width: 120px;
}

.trendTableBox {
    float: right;
    width: 520px;
}

.trendTableBoxWide {
    float: right;
    width: 535px;
}

.trendSig {
    width: 40px;
}

.trendSource {
    width: 100%;
    text-align: left;
    float: right;
    font-style: italic;
    font-size: 11px;
    overflow-wrap: break-word
}

#trendHelper {
    border-style: dotted;
    border-width: thin;
    border-color: #aaa;
    background-color: white;
    z-index: 5;
    position: absolute;
    font-style: italic;
    padding: 0 3px 0 3px;
}

a.trendLink, a.trendLink:visited, a.trendLink:active {
    color: Black;
    text-decoration: none;
}

    a.trendLink:hover {
        color: Black;
        text-decoration: underline;
    }

td span.value-note-symbol {
    width: 100%;
    text-align: center;
    display: block;
    cursor: default;
}

td span.unit {
    color: #777;
}

#trendsBox {
     display:inline-block; overflow:hidden; text-align: left; margin-left:3%;
}

#trend-sort-multi-charts {
    float: left;
}

/* ------------------------------------------------------------
	Benchmark options
------------------------------------------------------------ */

#target-benchmark-box {
    position: absolute;
    right: 2px;
    top: 29px;
    font-size: 11px;
    z-index: 1;
}
#target-benchmark-box .label {
    padding-left: 2px;
}

/* ------------------------------------------------------------
    Trends
------------------------------------------------------------ */
.target-label {
    display: block;
    float: left;
    padding-top: 2px;
    padding-right: 3px;
}

.target-legend {
    margin-bottom: 3px;
    float: left;
    width: 370px;
}

#singleAreaTable THEAD 
{
     padding: 1px 1px 3px 1px;   
}

#searchResultText 
{
    padding-left:10px;
}

#main h2 {
    padding-bottom:10px;
}

/* ------------------------------------------------------------
    Inequalities
------------------------------------------------------------ */
#inequalities-chart-box {
    float: left;
    width: 75%;
    margin-bottom: 50px;
}
#inequalities-chart-box p.no-data {
    text-align: center;
    padding: 150px 0 150px 34%; /* no data */
}
#inequalities-partition-menu {
    margin-top: -6px;
    margin-right: 10px;
    width: 20%;
    float: right;
}
#inequalities-partition-menu p {
    padding: 5px;
    margin: 0;
}
#inequalities-partition-menu a {
    display: block;
    width: 100%;
    float: left;
    clear: both;
    padding: 5px;
}
#inequalities-partition-menu a.selected {
    background-color: #02ae94;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: default;
}

#inequalities-trend-switch {
    padding-right: 60px;   
}

#inequalities-trend-filters {
    float: right;
    width: 220px;
}

#inequalities-trend-filters > div:first-child{
    font-size: 17px;
    line-height: 1.3em;
}

#inequalities-trend-filters hr {
    height: 1px;
    width: 96%;
    display: block;
    background-color: lightgray;
    padding-left: 30px;
    border: 0;
}

.trend-options-filter {
    line-height: 1.5em;
    padding-left: 16px;
}

.trend-option {
    line-height: 1.5em;
}

.trend-option input{
    vertical-align: middle;
}

.trend-option a{
    padding-left: 4px;
}

#inequalities-trend-filters .england-option{
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    padding-top: 4px;
    padding-bottom: 4px;
    
}

#inequalities-trend-chart {
    float: left;
    width: 400px;   
}

/* ------------------------------------------------------------
	Scatter tab
------------------------------------------------------------ */
#scatter-container {
    margin-top: 10px;
}


#scatterplot-filters {
    position:relative; 
    bottom:400px; 
    left:700px;
    width: 300px;
}

    #scatterplot-filters input {
        margin-top: 9px;
        margin-right: 2px;
        top: 2px;
        position: relative;
    }

#scatter-plot-chart-box-wrapper {
    padding-top:50px;
}

#supportingIndicatorsWrapper {
    width: 900px;
}

#supportingIndicatorsWrapper .supportingIndicators {
    float: left;
    margin-left: 40px;
    padding-top: 5px;
}

#supportingIndicatorsWrapper .supportingIndicatorsMenu {
    float: left;
    width: 700px;
}

/* ------------------------------------------------------------
	Content tabs
------------------------------------------------------------ */

#content {
    padding-bottom: 50px;
}

#content h2 {
    padding: 15px 0 20px 60px;
}

#content h3 {
    padding: 20px 0 5px 0;
}
 #content ul {
    list-style: disc;
    list-style-position: outside;
    font-size:15px;
    padding: 10px 0;
}
 #content li {
    padding: 1px 0;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 18px;
}
#content p {
    margin: 3px 0;
    font-size: 17px;
    line-height: 1.3em;
}

.a-link {
      text-align: right;
      color: #1f0aa1 !important;
}

/* ------------------------------------------------------------
	Nearest neighbours
------------------------------------------------------------ */

#nearestNeighbours-wrapper {
    position: relative;
    top: 44px;
    left: 451px;
    z-index: 5;
    width: 400px;
}

#goBack a {
    text-decoration: none;
    margin-right: 50px;
}

#nearest-neighbour-header a {
    text-decoration: none;
}

.nearest-neighbours-show {
    display: none;
}

#nearest-neighbour-link {
    display: none;
}

#indicatorDetailsHeader .trendHeader {
    padding-top: 10px !important;
}

.nearest-neighbour-selected-area {
       font-size: 14.2px;
}

.nearest-neighbour-selected-area h2{
    display: inline-block;
}

/*----------------------------------------
    Chart & table export
------------------------------------------*/
.export-chart-box {
    height: 16px;
	margin-bottom: 8px;
    margin-top:5px;
    color: #450AA3;
}

.export-chart-box select {
    width: 80px;
}

.white-background {
    background-color: #ffffff;
}

.tab-options div.export-chart-box {
    padding-top: 6px;
    float:left;
}

.export-chart-box .export-link, .tab-options .export-chart-box a {
    text-decoration: none;
    color: #1F0AA1;
    background: #FFF url(../images/save-image-icon.png) left center no-repeat;
    padding: 5px 27px;
}

.export-chart-box a.show-ci {
    text-decoration: none;
    color: #1F0AA1;    
}

/* ------------------------------------------------------------
	Trend marker legend
------------------------------------------------------------ */
#trend-marker-legend table {
    margin-top: 15px;
}

#trend-marker-legend img {
    padding-left: 15px;
    padding-right: 2px;
}

.trend-info {
    margin-left: 0;
    padding-left: 0!important;
    cursor: pointer;
}

.trendContainer .trend-marker {
    float:left;
    color:#333;
    font-weight:bold;
    margin-left: 60px;
    margin-bottom: 5px;
}

.trendContainer .trend-marker img {
    margin-left: 5px;
    vertical-align: middle;
}

/*----------------------------------------
    Lightbox
------------------------------------------*/

#infoBox h2 {
    padding: 3px 0 12px 9px;
}

/*----------------------------------------
    Profiles per indicators
------------------------------------------*/

#profiles-for-indicators {
    padding: 5px;
    padding-bottom: 10px;
}

#profiles-for-indicators h2 {
    margin-bottom: 20px;
}

#profiles-for-indicators table {
    border-collapse: collapse;
    margin-top: 10px;
}

#profiles-for-indicators .label {
    font-weight: bold;
    margin-top: 10px;
}

#indicator-list-lbl {
    font-size: 14px;
    font-weight: bold;
}

#indicator-list {
    width: 800px;
}

#profiles-for-selected-indicator {
    padding-bottom: 10px;
}

#profiles-for-selected-indicator ul {
    list-style-type: none;
}

#profiles-for-selected-indicator ul li {
    padding: 3px 0;
}

#profiles-for-selected-indicator a {
    color: #1f0aa1;
    text-decoration: none;
}

/*----------------------------------------
    Definitions
------------------------------------------*/
#definitionTable
{
    font-size: 17px;
    line-height: 1.5;
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    clear: both;
    overflow: hidden;
}
#definitionTable H3
{
    padding-bottom: 6px;
    padding-left: 3px;
}
#definitionTable TD
{
    padding: 2px 3px 2px 3px;
}
#definitionTable TABLE
{
    width: 100%;
}
#definitionTable LI
{
    margin-left: 23px;
}
#definitionTable .header
{
    font-size: 12px;
    background: #fafafa;
    padding-top: 2px;
}
#definitionTable P
{
    margin: 3px 0 3px 0;
}

/*----------------------------------------
    Population
------------------------------------------*/
.margin200 {
    width: 200px;
    height: 10px;
}
.NoPopulationData {
    width: 300px;
    height: 300px;
    line-height: 300px;
}
.export-chart-box {
    height: 16px;
    margin-top:10px;
    color: #450AA3;
}

.export-chart-box a.export-link {
    text-decoration: none;
    color: #1F0AA1;
    background: #FFF url(../images/save-image-icon.png) left center no-repeat;
    padding: 5px 30px;
    text-decoration: none;
}
#populationInfo, #populationTableBox {
    width: 355px;
    float: left;
    margin-top: 6px;
}
#practicePopInfo {
    width: 100%;
    height: 270px;
    float: left;
}
.popLabel {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 14px;
}

#practiceLabel {
    margin: 12px 0 6px 0;
}
#populationInfo #decileKey {
    width: 100%;
}
.decile1 {
    background: #C00000;
    color: White;
}

.decile2 {
    background: #BB1809;
    color: White;
}

.decile3 {
    background: #B52F12;
    color: White;
}

.decile4 {
    background: #B1451B;
    color: White;
}

.decile5 {
    background: #AB5E24;
    color: White;
}

.decile6 {
    background: #A6742D;
    color: White;
}

.decile7 {
    background: #A18C36;
}

.decile8 {
    background: #9CA33F;
}

.decile9 {
    background: #97B947;
}

.decile10 {
    background: #92D050;
}

#decileKey TD {
    height: 9px;
    width: 30px;
    border: 1px solid white;
    border-top: 2px solid white;
    border-bottom: none;
}

DIV.decile {
    float: left;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
    padding: 1px 0 1px 0;
    width: 24px;
    margin: 3px 0 0 0;
}

DIV.decileSpacer {
    float: left;
    height: 10px;
    width: 4px;
}
#deprivationTable, #ethnicityTable {
    margin-top: 15px;
}
#deprivation {
    text-align: center;
}
.deprivationLabel {
    font-size: 10px;
    line-height: 10px;
    color: #666;
    margin-bottom: 3px;
}
.right-tooltip-icon {
    position: absolute;
    top: 0;
    right: 0;
}
DIV.infoTooltip {
    margin: 0 auto 0 auto;
    height: 16px;
    width: 16px;
    background-image: url(../images/info3.png);
    cursor: pointer;
}

DIV.infoTooltip:hover {
    background-image: url(../images/info3-hover.png);
}

#furtherInfoTable TD.information {
    width: 200px;
}
#popTable TD.information {
    width: 250px
}

#popTable td.header, #furtherInfoTable td.header {
    background: #fafafa; 
    vertical-align: bottom;
    padding: 3px 3px 3px 0;
    vertical-align: top;
    text-align: right;
} 
.popLabel {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 14px;
}

#practiceLabel {
    margin: 12px 0 6px 0;
}
#populationInfo, #populationTableBox {
    width: 355px;
    float: left;
    margin-top: 6px;
}

#populationInfo {
    margin-top: 15px;
}

#populationInfo TABLE, #popTable {
    width: 100%;
}
.averageLabel {
    font-size: 9px;
}