
TH.bar
{
    text-align:left;
    width: 240px;
    vertical-align: top;
    border-left:none;
}
TD.bar
{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.barBox
{
    position: relative;
    width: 100%;
    height: 17px;
}
IMG.bar
{
    top: 0;
    left: 0;
    height: 17px;
    position: absolute;
    background: #C9C9C9;
    border:none;
}
.error, .errorMid
{
    top: 2px;
    position: absolute;
    width: 1px;
    height: 11px;
    line-height: 0;
}
.errorMid
{
    height: 2px;
    top: 7px;
}
#sparklinesInnerData
{
    width: 100%;
    float: left;
    margin-top: 6px;
}
#sparklinesInnerNoData
{
    margin-top: 150px;
    height: 150px;
    float: left;
}
#sparklines-container
{
    margin-top: 10px;
    width:100%;
    clear:left;
    float:left;
}

img.sparklineArea
{
    /*To improve layout on rendering*/
    height: 200px;
    width: 330px;
}

.sparklineTableBox
{
    float: right;
    margin-top: 3px;
    width: 650px;
    position:relative;
}
.keySpark
{
    width: 120px;
    background: white;
}
.keySparkWide
{
    width: 170px;
    background: white;
}
.sparkKeyLine
{
    height: 2px;
    width: 30px;
    margin-top: 9px;
    margin-left: 3px;
}
.sparkKeyRange
{
    margin-left: 3px;
    height: 10px;
    width: 30px;
    background: #9B9B9B;
    margin-top: 5px;
}
.keySparkTable
{
    width: 40px;
    background: white;
}
.keyLine
{
    width: 90%;
    margin-bottom: 2px;
    margin-top: 1px;
    height: 2px;
    float: left;
}

TH.gap 
{
    width: 40px;   
}

DIV.info, DIV.infoPad
{
    margin: 10px auto 10px auto;
    height:16px;
    width:16px;
}
DIV.info 
{
    background-image: url(../images/info.png);
}
#gap-label 
{
    margin-top:0;
}
#yearSelection 
{
     background:none;   
}
    #yearSelection div {
    padding-top:2px;
    float:left;
    }
    #page-inequalities div {
    background-image: url('../images/tabs/inequalities.gif');
}
