
#banner ul {
    float: right;
}

a.home-header, a.home-header:hover, a.home-header:visited {
    color: #333;
}

.large {
    font-size: 25px !important;
}

/*----------------------------------------
    Domain heading on front page
------------------------------------------*/

.link-header {
    margin: 20px 0 10px 0;
}

.link-header a, .link-header a:visited, .link-header a:active {
    font-size: 3.1em;
    font-weight: bold;
    text-decoration: none;
    color: #39836e;
    text-decoration: none;
}

.link-header a:hover {
    text-decoration: underline;
}

/*----------------------------------------
    Twitter box on front page
------------------------------------------*/

#related_content a {
    text-decoration: none;   
}

#related_content a:hover {
    text-decoration: underline;   
}

/*----------------------------------------
    Recent updates
------------------------------------------*/
#recent-updates {
    width: 100%;
    margin-top: 5px;
    padding-bottom: 40px;
}

/*----------------------------------------
    PHOF domains on front page
------------------------------------------*/

.phof-domains a {
    margin:0;
}

.phof-domains-middle {
    margin-top: 10px;
    margin-left: -10px;
    height: 140px;
    text-align: center;
    max-width: 100%;
}

.phof-domains-middle p {
    color: #fff;
    text-decoration: none;
    font-size: 0.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#contact-us-public-health-outcomes-framework ul {
    list-style-type: none;
    line-height: 2;
}

.phof-domains-top {
    margin-top: 10px;
}

.phof-domains-indicators-header-link {
    text-decoration: none !important;
}
    .phof-domains-indicators-header-link:hover {
        text-decoration: underline !important;
        background-color: #8e3947 !important;
    }

.phof-domains-indicators-header {
    padding: 15px;
    text-align: center;
    background-color: rgb(130,36,51);
    text-decoration: none !important;
    color: white !important;
    font-size: 24px;
    font-weight: bold;
}

    .phof-domains-indicators-header:hover {
        text-decoration: underline !important;
        background-color: #8e3947 !important;
    }

.phof-domains-indicators-middle-top {
        border-top: 1px solid white !important;
        border-bottom: 1px solid white !important;
        background-color: rgb(130,36,51);
    }

.phof-domains-indicators-middle-elements {
    border-right: 1px solid white;
    padding: 20px;
    background-color: rgb(130,36,51);
    line-height: 25px;
    font-size: 20px;
    text-decoration: none !important;
    color: white !important;
    text-align: center;
    font-weight: bold;
}

    .phof-domains-indicators-middle-elements:hover {
        text-decoration: underline !important;
        background-color: #8e3947 !important;
    }

.phof-domains-indicators-bottom-top {
    text-align: center;
    background-color: rgb(130,36,51);
}

.phof-domains-indicators-bottom-link {
    text-decoration: none !important;
}
    .phof-domains-indicators-bottom-link :hover {
        text-decoration: underline !important;
        background-color: #8e3947 !important;
    }

.phof-domains-indicators-bottom {
    padding: 10px;
    text-align: center;
    background-color: rgb(130,36,51);
    text-decoration: none !important;
    color: white !important;
    font-weight: bold;
}
    .phof-domains-indicators-bottom:hover {
        text-decoration: underline !important;
        background-color: #8e3947 !important;
    }


/*-----------------------------------------
    PHOF start button on front page
------------------------------------------*/
.start-button {
    padding-top: 10px;
    margin: 30px 0 10px 0; /*needed for tobacco home page*/
}
.start-button a {
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    font-size: 1.6em;
    font-weight: bold;
    padding: 0;
}

.start-button a:hover {
    text-decoration: none !important;
    color: #ffffff !important;
}

.start-button .btn {
  padding-top: 10px;
  padding-bottom: 15px;
  background: #02ae94;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.6em;
  width: 100%;
}

.start-button .btn:hover {
  background: #048874;
  text-decoration: none;
}

/*-----------------------------------------
    PHOF video link on front page
------------------------------------------*/
.phof-side-section {
    padding-top: 30px;
}

/*-----------------------------------------
    Area search
------------------------------------------*/
#area-search input {
    width: 313px !important;
}
