
#banner ul {
    float: right;
}

a.home-header, a.home-header:hover, a.home-header:visited {
    color: #333;
}

.large {
    font-size: 25px !important;
}

/*----------------------------------------
    Domain heading on front page
------------------------------------------*/

.link-header {
    margin: 20px 0 10px 0;
}

.link-header a, .link-header a:visited, .link-header a:active {
    font-size: 3.1em;
    font-weight: bold;
    text-decoration: none;
    color: #39836e;
    text-decoration: none;
}

.link-header a:hover {
    text-decoration: underline;
}

/*----------------------------------------
    Twitter box on front page
------------------------------------------*/
#related_content {
    margin-top: 17px;
}

#related_content a {
    text-decoration: none;   
}

#related_content a:hover {
    text-decoration: underline;   
}

/*----------------------------------------
    Recent updates
------------------------------------------*/
#recent-updates {
    width: 100%;
    margin-top: 5px;
    padding-bottom: 100px;
}

/*----------------------------------------
    PHOF domains on front page
------------------------------------------*/

.phof-domains a {
    margin:0;
}

.phof-domains-middle {
    margin-top: 10px;
    margin-left: -10px;
    height: 140px;
    text-align: center;
    max-width: 100%;
}

.phof-domains-middle p {
    color: #fff;
    text-decoration: none;
    font-size: 0.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#contact-us-public-health-outcomes-framework ul {
    list-style-type: none;
    line-height: 2;
}

/*----------------------------------------
    PHOF start button on front page
------------------------------------------*/
.start-button {
    padding-top: 10px;
    margin: 0 0 60px 0; /*needed for tobacco home page*/
}
.start-button a {
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    font-size: 1.6em;
    font-weight: bold;
    padding: 0;
}

.start-button a:hover {
    text-decoration: none !important;
    color: #ffffff !important;
}

.start-button .btn {
  padding-top: 10px;
  padding-bottom: 15px;
  background: #02ae94;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.6em;
  width: 100%;
}

.start-button .btn:hover {
  background: #048874;
  text-decoration: none;
}