#maps_info {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 490px;
    height: 350px;
    float: left;
    overflow: auto;
}

#key-ad-hoc {
    position: relative;
    height: 50px;
}

#map_colour_box {
    border: 1px solid #CCC;
    background-color: #EEE;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}