<!-- persistent overlay containing custom zoom UI -->
<div class="map-overlay map-controls" id="map-overlay-zoom">
    <div id="area-filter">
    </div>
    <div id="map-zoom-box">
        <h5>Zoom</h5>
        <div id="map-zoom-buttons"></div>
        <a class="btn btn-zoom btn-zoom-in" onclick="btnZoomInClicked()"></a>
        <a class="btn btn-zoom btn-zoom-out" onclick="btnZoomOutClicked()"></a>
    </div>
</div>
