@model dynamic
<div id="header_bottom" class="clearfix basic_breadcrumbs">
    <a href="javascript:MT.nav.home();">Home</a>
    <img src="@(ViewBag.ImagesUrl)Mortality/breadcrumbs.png" alt="bread crumb">
    @Model
</div>
