<div class="premature_deaths stats_info">
    <h3>Premature deaths</h3>
    <p><span id="total_national"></span>&nbsp;<span class="time-period">2011&ndash;2013</span><span class="tooltip"><i>Total premature deaths (deaths before age 75) in England</i></span></p>
</div>
<div class="best stats_info">
    <h3>Best in England</h3>
    <p id="best_national"></p>
</div>
<div class="worst stats_info">
    <h3>Worst in England</h3>
    <p id="worst_national"></p>
</div>
