@using Profiles.DomainObjects
@using Profiles.MainUI.Models;
@model PageModel
<a href="/content" class="visuallyhidden">Skip to content</a>
@{
    bool includeConnect = Model.ProfileId != ProfileIds.SuicidePrevention;
    bool includeAboutProject = Model.ProfileId != ProfileIds.SuicidePrevention;
}
<div id="header">
    @Html.Partial("_Header")
    <div id="header_nav">
        <div id="nav_wrap">
            <div id="nav_border" class="clearfix">
                <ul>
                    @{var stem = "/topic/" + ViewBag.ProfileUrlKey + "/";}
                    <li id="home-nav"><a href="javascript:MT.nav.home();">Home</a></li>
                    <li id="rankings-nav"><a href="javascript:MT.nav.nationalRankings();">National comparisons</a></li>
                    @if (includeAboutProject)
                    {
                    <li id="about-project-nav"><a href="@(stem)about-project">About the project</a></li>}
                    <li id="about-data-nav"><a href="@(stem)about-data">About the data</a></li>
                    @if (includeConnect)
                    {
                    <li id="connect-nav"><a href="@(stem)connect">Connect</a></li>}
                </ul>
            </div>
        </div>
    </div>
</div>
