@using IndicatorsUI.MainUI.Models;
@model PageModel
<a href="/content" class="visuallyhidden">Skip to content</a>

<div id="header">
    @Html.Partial("_Header")
    <div id="header_nav">
        <div id="nav_wrap">
            <div id="nav_border" class="clearfix">
                <ul>
                    @{var stem = "/topic/" + ViewBag.ProfileUrlKey + "/";}
                    <li id="home-nav"><a href="javascript:MT.nav.home();">Home</a></li>
                    <li id="map-with-data"><a href="javascript:MT.nav.mapWithData();">Map</a></li>
                    <li id="rankings-nav"><a href="javascript:MT.nav.rankings();">National comparisons</a></li>
                    <li id="about-data-nav"><a href="@(stem)about-data">About the data</a></li>                  
                </ul>
            </div>
        </div>
    </div>
</div>
