@using IndicatorsUI.DomainObjects
@using IndicatorsUI.MainUI.Helpers
<div id="map-help" class="map-overlay">
    @{
        ContentItem contentItem = ContentProvider.GetContentItem(ContentKeys.MapHelp, Model.ProfileId)
                          ?? ContentProvider.GetContentItem(ContentKeys.MapHelp, ProfileIds.LongerLives);
    }
    @(contentItem.HtmlEncodedString)
</div>

