@model int

<a href="https://fingertips.phe.org.uk/profile/public-health-outcomes-framework/data#gid/@Model" class="external_link" target="_blank">
    View more data in the Public Health Outcomes Framework
</a>