 <!-- overlay title for use during Similar mode -->
<div class="map-overlay map-overlay-title" style="display: none;">
    <h3>
        <font id="similar-text"></font>
        <span class="tooltip tooltip-inverse left" id="similar-text-info-icon"><i></i></span>
    </h3>
    <p><a href="javascript:viewNational()">&lt; Compare with all areas on the map</a></p>
</div>