@model IndicatorsUI.MainUI.Models.PageModel
@{
    Layout = "~/Views/LongerLives/Diabetes/_DiabetesLayoutPage.cshtml";
}
@section headContent {
}

@Html.Partial("_BasicBreadcrumb", "Privacy Policy")

<div id="content" class="clearfix">
    <div id="related_content">
    </div>
	<div id="main_content">
		<h1>Privacy Policy</h1>
        <div class="hr"><hr /></div>
	    <p>Public Health England has published a
	        <a href="https://www.gov.uk/government/organisations/public-health-england/about/personal-information-charter" class="external_link" target="_blank">
	            personal information charter</a> explaining our standards for handling your data. </p>
    </div>
</div>