@model IndicatorsUI.MainUI.Models.PageModel
@{
    Layout = "~/Views/LongerLives/Mortality/_MortalityLayoutPage.cshtml";
}
@section headContent {
}

@Html.Partial("_BasicBreadcrumb", "Cookies")

<div id="content" class="clearfix">
    <div id="related_content">
    </div>
    <div id="main_content">
        <h1>Cookies</h1>

        <div class="hr">
            <hr />
        </div>

        <p class="bold">About cookies</p>

        <p>
            Cookies are small text files that are placed on your computer by websites that you visit. They are
	    widely used in order to make websites work, or work more efficiently, as well as to provide information 
        to the owners of the site. They are not used to identify you personally and they do not collect information from your computer.
        </p>

        <p>
            This website uses both session cookies, which are deleted when you exit the browser, and persistent cookies
         which are stored on your computer for a defined length of time, or until you choose to delete them.
        </p>

        <p>This article gives more information on <a href="https://www.gov.uk/support/cookies" class="external_link" target="_blank">Internet browser cookies</a>.</p>

        <p class="bold">Current cookies</p>

        <p>The following section explains the cookies we use and why.</p>

        <p>
            By using our website, you agree that we can place these types of cookies on your device, unless you explicitly
             choose to reject cookies. Note that rejecting cookies may prevent some functionality from working fully.
        </p>

        <p class="bold">Google Analytics</p>

        <p>
            Performance cookies (either session or persistent) collect information about how visitors use our site.
            We use the information to find out how many visitors we have to the site, how they use the site and to 
            help us improve the site. The cookies collect information in an anonymous form, including the number of 
            visitors to the site, where visitors have come to the site from and the pages they visited.
        </p>

        <p><a href="http://www.google.com/analytics/learn/privacy.html" class="external_link" target="_blank">Click here for an overview of privacy at Google</a></p>

            <ul>
                <li>Name: utma</li>
                <li>Type: Persistant cookie</li>
                <li>Expires: 2 years</li>
            </ul>

            <ul>
                <li>Name: utmb</li>
                <li>Type: Persistant cookie</li>
                <li>Expires: 30 minutes</li>
            </ul>

            <ul>
                <li>Name: utmc</li>
                <li>Type: Session cookie</li>
                <li>Expires: when you exit the browser</li>
            </ul>

            <ul>
                <li>Name: utmz</li>
                <li>Type: Persistant cookie</li>
                <li>Expires: 6 months</li>
            </ul>

         <p class="bold">How to control and delete cookies</p>

        <p>Most web browsers allow some control of most cookies through the browser settings. To find out more about cookies, including how to see
             what cookies have been set and how to manage and delete them, visit <a href="http://www.allaboutcookies.org" class="external_link" target="_blank">www.allaboutcookies.org</a>.</p>

        <p>To opt out of being tracked by Google Analytics across all websites visit <a href="http://tools.google.com/dlpage/gaoptout" class="external_link" target="_blank">Google Analytics opt-out</a>.</p>

    </div>
</div>
