@model Profiles.MainUI.Models.PageModel
@{
    Layout = "~/Views/LongerLives/Mortality/_MortalityLayoutPage.cshtml";
}
@section headContent {
}

@Html.Partial("_BasicBreadcrumb", "Accessibility policy")

<div id="content" class="clearfix">
    <div id="related_content">
    </div>
	<div id="main_content">
		<h1>Accessibility policy</h1>
	    
        <div class="hr"><hr /></div>
	   
	    <p>We aim to ensure that the information on this site can be used by people who have visual, hearing, movement
	        or learning impairments. We try to ensure that it is usable with a broad range of operating systems, browsers,
             and specialist assistive technologies.</p>

	    <p>We aim to comply with the UK government standards minimum recommendation of: Web Content Accessibility Guidelines (WCAG) 1.0 AA.</p>
        
	    <p>This site uses Google Maps. We also provide the same information in a tabular format. </p>
        
	    <p> The Government Digital Service has provided links <a href="https://www.gov.uk/support/accessibility" class="external_link" target="_blank">help with using 
            the internet or if you have any accessibility issues</a>.</p>
       
	</div>
</div>