<div class="admin-sidebar">
    <ul>
        <li>
            @Html.ActionLink("Delete indicator", "DeleteIndicator")
        </li>
        <li>
            @Html.ActionLink("Change indicator owner", "ChangeIndicatorOwner")
        </li>
    </ul>
</div>