<div class="admin-sidebar">
    <ul>
        <li>
            <a href="/admin/DeleteIndicator">Delete indicator</a>
        </li>
        <li>
            <a href="/admin/ChangeIndicatorOwner">Change indicator owner</a>
        </li>
    </ul>
</div>