<div *ngIf="legendConfig !== null">
    <div class="row legend-link-container">
        <div class="col w-100 float-right text-right">
            <a class="legend-link" [innerHtml]="legendLinkText" (click)="toggleLegend()"></a>
        </div>
    </div>
    <div class="row" *ngIf="showLegend">
        <div class="col-md-6">
            <ft-legend-data-quality *ngIf="showDataQuality" [showDataQuality]="showDataQuality">
            </ft-legend-data-quality>
        </div>
        <div class="col-md-6 text-right value-note-legend" *ngIf="showNoteLegend">
            <span class="asterisk">*</span> a note is attached to the value, hover over to see more details
        </div>
    </div>
    <div class="row col" *ngIf="showBenchmarkAgainstGoal">
        <ft-legend-benchmark-against-goal [legendConfig]="legendConfig"></ft-legend-benchmark-against-goal>
    </div>
    <div class="row col" *ngIf="showLegend">
        <ft-legend-map [legendConfig]="legendConfig" *ngIf="showMap"></ft-legend-map>
        <ft-legend-trend [legendConfig]="legendConfig" *ngIf="showTrends || showAreaProfiles"></ft-legend-trend>
        <ft-legend-compare-areas [legendConfig]="legendConfig" *ngIf="showCompareAreas"></ft-legend-compare-areas>
        <ft-legend-inequalities [legendConfig]="legendConfig" *ngIf="showInequalities"></ft-legend-inequalities>
    </div>
    <div class="row col" *ngIf="canShowRecentTrends()">
        <ft-legend-recent-trends [showRecentTrends]="showRecentTrends"></ft-legend-recent-trends>
    </div>
</div>