@model Fpm.MainUI.Models.LookupModel

@if (Model.Ages != null)
{
    <span>Filter: </span>
    <input id="age-filter" type="text" />
    <table id="lookup-table" class="grid sortable" style="margin-top: 10px;">
        @Html.Partial("_TableHeader", new List<string> { "ID", "Description" })
        <tbody>
            @foreach (var age in Model.Ages)
            {
                <tr>
                    <td>@age.AgeID</td>
                    <td>@age.Description</td>
                </tr>
            }
        </tbody>
    </table>
}