<div id="boxplot-container" style="display:none;">
  <div id="indicator-details-boxplot-data" class="standard-width" *ngIf="!isEnglandAreaSelected && isAnyData">
    <ft-indicator-header [header]="header"></ft-indicator-header>

    <div class="export-chart-box">
      <a class="export-link" (click)="onExportClick($event)">Export chart as image</a>
    </div>

    <div class="row col-md-12">
      <ft-boxplot-chart [boxplotData]="boxplotData" (emitBoxPlot)="setBoxPlotChart($event)"></ft-boxplot-chart>

      <div id="boxplot-legend-img"></div>

      <ft-boxplot-table [boxplotDataForTable]="boxplotDataForTable"></ft-boxplot-table>
    </div>
  </div>
  <div *ngIf="isEnglandAreaSelected && isAnyData" id="boxplot-not-available" class="standard-width">
    Not applicable for England data
  </div>
</div>
