#boxplot-legend-img {
    width: 143px;
    height: 296px;
    text-decoration: none;
    border: 1px solid lightgrey;
    float: right;
    margin-top: 10px;
}

#boxplot-not-available {
    width:100%; 
    height:400px;
    padding-top:190px; 
    text-align:center;
    font-size:17px;
}