<div id="boxplot-container" style="display:none;">
    <!-- <div class="export-chart-box" style="display:block;">
            <a class="export-link" (click)="onExportClick($event)"
                >Export chart as image</a>
        </div> -->
    <div id="indicator-details-boxplot-data" class="standard-width">
        <ft-indicator-header [header]="header"></ft-indicator-header>
        <div id="boxplot-legend-img" *ngIf="isAnyData()"></div>

        <ft-boxplot-chart *ngIf="isAnyData()" [boxplotData]="boxplotData"></ft-boxplot-chart>

        <ft-boxplot-table *ngIf="isAnyData()" [boxplotData]="boxplotData"></ft-boxplot-table>
        <div id="boxplot-no-data" class="no-indicator-data" *ngIf="!isAnyData()">No Data</div>
    </div>
</div>