@using Profiles.MainUI.Models
@model PageModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section headContent {
    <link href="@(Model.CssPath)core-contentpages.css" rel="stylesheet" type="text/css" />
    <script src="@(Model.JsPath)SiteKeyIndicators.js" type="text/javascript"></script>
    @Html.Partial("_GlobalJsVariablesForContentPage")
}
<div class="full-width title-divider"></div>

<div class="standardWidth">
    @Html.Partial("_ProfileCollection", Model.NationalProfileCollection)

    <div id="about-fingertips">
        <h2>
            About the profiles
        </h2>
        <p>
            These profiles are a rich source of indicators across a range of health and
            wellbeing themes that has been designed to support JSNA and commissioning to
            improve health and wellbeing, and reduce inequalities. With these profiles you can:
        </p>
        <ul>
            <li>Browse indicators at different geographical levels</li>
            <li>Benchmark against the regional or England average</li>
            <li>Export data to use locally</li>
        </ul>
        <p>
            These profiles have been developed by Public Health England.
        </p>
    </div>
</div>
