
@using Fpm.MainUI.ViewModels

@model  IEnumerable<ProfileAreaType>

<div id="profile-area-types-container" class="row form-group">
    <label class="col-md-3 col-form-label">Area types that have PDFs:</label>
    <div id="profile-area-types" class="col-md-6">
        @if (!((IEnumerable<ProfileAreaType>) ViewBag.AvailableAreaTypes).Any())
        {
            <span class="no-area-types">No area types available</span>
        }
        @foreach (ProfileAreaType areaType in ViewBag.AvailableAreaTypes)
        {
            var checkBoxId = "chk" + areaType.Id;
            <table>
                <tr>
                    <td>
                        @if (@Model.Any(m => m.Id == areaType.Id))
                        {
                            @Html.CheckBox(checkBoxId, new {@value = areaType.Value, @checked = "checked"})
                        }
                        else
                        {
                            @Html.CheckBox(checkBoxId, new {@value = areaType.Value})
                        }
                    </td>
                    <td>@areaType.Value</td>
                </tr>
            </table>
        }
    </div>
</div>