@using Fpm.MainUI.Helpers
@Html.Partial("_FAQ")
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand " href="https://www.gov.uk/government/organisations/public-health-england" title="Public Health England">
                <img src="/images/PHE30.png" height="30px" style="float:left" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            @if (UserDetails.CurrentUser().IsAdministrator)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profilemanager">Profiles</a></li>
                    <li><a href="/user">Users</a></li>
                    <li><a href="/ProfileCollectionManager">Profile collections</a></li>
                    <li><a href="/ExceptionLog">Exceptions</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul><br />
            }

        </div><!--/.nav-collapse -->
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Profiles & indicators</a></li>
                <li><a href="/upload">Upload data</a></li>
                <li><a href="/documents">Documents</a></li>
                <li><a href="/content">Content</a></li>
                <li><a href="/lookup-tables">Lookup tables</a></li>
                <li><a href="/ManageAreas">Areas</a></li>
                <li><a href="#" id="faq-link">FAQs</a></li>
            </ul><br />
        </div><!--/.nav-collapse -->
        @if (CommonUtilities.IsReadOnlyMode())
        {
            <div>
                @CommonUtilities.GetStatusUpdateMessage()
            </div>
        }
        @*   @ViewContext.RouteData.Values["Action"].ToString()*@

    </div><!--/.container-fluid -->
</nav>




