<div id="footer" class="container-fluid">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Test sites</h3>
            <ul class="list-unstyled">
                <li><a href="https://testphof.phe.org.uk">Public Health Outcomes Framework</a></li>
                <li><a href="https://testhealthierlives.phe.org.uk">Longer Lives</a></li>
                <li><a href="https://testprofiles.phe.org.uk">Fingertips</a></li>
            </ul>
        </div>

        <div class="col-md-3">
            <h3>Live sites</h3>
            <ul class="list-unstyled">
                <li><a href="http://www.phoutcomes.info">Public Health Outcomes Framework</a></li>
                <li><a href="http://longerlives.phe.org.uk">Longer Lives</a></li>
                <li><a href="http://fingertips.phe.org.uk">Fingertips</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Live updates</h3>
            @Html.Partial("_FooterDateList")
        </div>

        <div class="col-md-3">
            <a id="email-fpm-admin" href="mailto:daniel.flint@phe.gov.uk;doris.hain@phe.gov.uk?Subject=Fingertips%20Profile%20Manager%20-%20Support">Contact the FPM Administrator</a>
        </div>
    </div>
    </div>
    </div>
