@using System.Globalization
<div id="footer" class="full-width clearfix">
    <div class="standardWidth clearfix">

        <div class="footer_links clearfix">
            <h3>Test sites</h3>
            <ul>
                <li><a href="https://testphof.phe.org.uk">Public Health Outcomes Framework</a></li>
                <li><a href="https://testhealthierlives.phe.org.uk">Longer Lives</a></li>
                <li><a href="https://testprofiles.phe.org.uk">Fingertips</a></li>
            </ul>
        </div>

        <div class="footer_links clearfix">
            <h3>Live sites</h3>
            <ul>
                <li><a href="http://www.phoutcomes.info">Public Health Outcomes Framework</a></li>
                <li><a href="http://longerlives.phe.org.uk">Longer Lives</a></li>
                <li><a href="http://fingertips.phe.org.uk">Fingertips</a></li>
            </ul>
        </div>

        <div class="footer_links clearfix">
            <h3>Live updates</h3>
            @{
                var dates = new List<DateTime>
            {
                new DateTime(2016, 11, 1),
                new DateTime(2016, 12, 6),
                new DateTime(2017, 1, 4), // Bank holiday week
                new DateTime(2017, 2, 7),
                new DateTime(2017, 3, 7),
                new DateTime(2017, 4, 4),
                new DateTime(2017, 5, 3), // Bank holiday week
                new DateTime(2017, 6, 6),
                new DateTime(2017, 7, 4),
                new DateTime(2017, 8, 1),
                new DateTime(2017, 9, 5),
                new DateTime(2017, 10, 3),
                new DateTime(2017, 11, 7),
                new DateTime(2017, 12, 5)
            };
            }
            <ul>
                @foreach (var date in dates.Where(x => x > DateTime.Now).Take(6))
                {
                    <li>@date.DayOfWeek.ToString().Substring(0, 3) @date.Day @date.ToString("MMM", CultureInfo.InvariantCulture) @date.Year</li>
                }
            </ul>
        </div>

        <a id="email-fpm-admin" href="mailto:daniel.flint@phe.gov.uk;doris.hain@phe.gov.uk?Subject=Fingertips%20Profile%20Manager%20-%20Support">Contact the FPM Administrator</a>
    </div>
</div>