@using System.Globalization
@using Fpm.ProfileData.Repositories
@{
    var dates = new MonthlyReleaseRepository().GetUpcomingMonthlyReleases(6).Select(x => x.ReleaseDate);
}
<ul class="list-unstyled">
    @foreach (var date in dates.Where(x => x > DateTime.Now).Take(6))
    {
        <li>@date.DayOfWeek.ToString().Substring(0, 3) @date.Day @date.ToString("MMM", CultureInfo.InvariantCulture) @date.Year</li>
    }
</ul>