.left {
    float: left;
}

.spine-rag-3,
.spine-rag-5,
.spine-bob,
.spine-not-compared
 {
    float: left;
    margin-left: 5px;
}

.margin-top-10 {
    margin-top: 10px !important;
    padding-top: 0 !important;
}

.key-table {
    color: #000 !important;
}
