@{
    Layout = "~/Views/Test/_LayoutPage.cshtml";
}
@section headContent {

    <style>

        * {
            font-family: arial;
            font-size: 22pt;
            margin: 10px;
        }

        a, h1 {
            padding: 5px;
        }

        a {
            font-size: 1.0em;
            width: 100%;
            float: left;
            text-decoration: none;
            clear: both;
        }

        a:hover {
            background: #B8C6FF;
        }


        .jasmine_html-reporter {
            display: none;
        }
    </style>
}

@section bodyContent {

    <h1>Test pages</h1>
    <div style="width: 100%;">
        <a href="@Url.Action("TestPage", new RouteValueDictionary { { "page", "fingertips" } })">Fingertips</a>
        <a href="@Url.Action("TestPage", new RouteValueDictionary { { "page", "diabetes" } })">Diabetes</a>
        <a href="@Url.Action("TestPage", new RouteValueDictionary { { "page", "diabetes-rankings" } })">Diabetes rankings</a>
        <a href="/page-that-does-not-exist">404 page</a>
        <a href="@Url.Action("TestError")">500 page</a>
        <a id="jsTestError" href="#">Javascript Test Error</a>
    </div>
}

