@*PHOF page links*@
@model Profiles.MainUI.Models.PageModel
<ul style="float: right;">
    <li class="site-link"><a href="/">Home</a></li>
    <li class="site-link"><a href="/further-information">Further information</a></li>
    <li class="site-link"><a href="/faqs">FAQS</a></li>
    <li class="site-link"><a href="@ViewBag.FingertipsUrl/profile/guidance" target="_blank">Technical guidance</a></li>
    <li class="site-link">
        <a href="/contact-us">Contact us</a>
    </li>
</ul>
