<ul>
    <li class="site-link"><a href="/">Home</a></li>
    <li class="site-link"><a href="/contact-us">Contact us</a></li>
    <li class="site-link"><a href="/further-information">Further information</a></li>
    <li class="site-link"><a href="/faqs">FAQS</a></li>
</ul>
