
<div class="supporting-information">
    <h1 style="font-size: 3.1em;">
        <a href="/public-health-outcomes-framework#gid/1000049" style="color: #39836e;">Overarching indicators</a>
    </h1>
</div>

<div class="phof-domains">      
    <p style="font-size: 1.8em;">Find out about differences in life expectancy and healthy life expectancy between communities.</p>  
</div>
<div class="phof-domains">
    <div class="phof-start-button">
        <h3><a href="/public-health-outcomes-framework#gid/1000049">START</a></h3>
        <p>Go to the data</p>
    </div>    
</div>
<div class="phof-domains">
    <a href="/public-health-outcomes-framework#gid/1000041">Improving the wider determinants of health</a>
    <p>
        Browse indicators for tracking progress in wider factors that affect health and wellbeing.
    </p>
</div>
<div class="phof-domains">
    <a href="/public-health-outcomes-framework#gid/1000042">Health improvement</a>
    <p>
        Browse indicators for tracking progress in helping people to live healthy lifestyles and make healthy choices.
    </p>
</div>
<div class="phof-domains">
    <a href="/public-health-outcomes-framework#gid/1000043">Health protection</a>
    <p>
        Browse indicators for tracking progress in protecting the population’s health from major incidents and other threats.
    </p>
</div>
<div class="phof-domains">
    <a href="/public-health-outcomes-framework#gid/1000044">Healthcare public health and preventing premature mortality</a>
    <p>
        Browse indicators for tracking progress in reducing numbers of people living with preventable ill health and people dying prematurely.
    </p>
</div>
