@using IndicatorsUI.DomainObjects
@using IndicatorsUI.MainUI.Helpers
@{
    var hrefBase = "/profile/" + ViewBag.ProfileUrlKey + "/data#gid/";
}

<div class="row">
    <div class="col-md-12">
        @ContentProvider.GetIntroduction(Model.ProfileId)
    </div>

    <div class="phof-domains-top col-md-12">
        <a href="@hrefBase@GroupIds.Phof_OverarchingIndicators" class="phof-domains-indicators-header-link">
            <div class="phof-domains-indicators-header col-sm-12">
                Overarching indicators
            </div>
        </a>
        <div class="phof-domains-indicators-middle-top col-sm-12">
            <div class="row">
                <a href="@hrefBase@GroupIds.Phof_WiderDeterminantsofHealth" class="phof-domains-indicators-middle-elements col-sm-3">
                    <div  style="padding-top: 20px;">
                        Wider <br /> Determinants
                    </div>
                </a>
                <a href="@hrefBase@GroupIds.Phof_HealthImprovment" class="phof-domains-indicators-middle-elements col-sm-3">
                    <div  style="padding-top: 20px;">
                        Health<br /> Improvement
                    </div>
                </a>
                <a href="@hrefBase@GroupIds.Phof_HealthProtection" class="phof-domains-indicators-middle-elements col-sm-3">
                    <div  style="padding-top: 20px;">
                        Health <br /> Protection
                    </div>
                </a>
                <a href="@hrefBase@GroupIds.Phof_PrematureMortality" class="phof-domains-indicators-middle-elements col-sm-3">
                    <div >
                        Healthcare <br /> and <br /> Premature Mortality
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

