<div id="area-profile-container" style="display:none;">
  <div class="col" *ngIf="isAnyData">
    <!-- Legend -->
    <div class="row">
      <div class="col-md-12">
        <ft-legend [legendConfig]="legendConfig" [showRecentTrends]="showRecentTrends"
          [showDataQuality]="showDataQuality"></ft-legend>
      </div>
    </div>

    <!-- Export options -->
    <div class="row">
      <div class="col-md-3 area-profiles-export-container">
        <a id="area-profiles-export-image" class="area-profiles-export-table-link"
          (click)="onExportClick($event)">Export table as image</a>
      </div>
      <div class="col-md-3 area-profiles-export-container">
        <a id="export-link-csv-area-profile" class="area-profiles-export-csv-link"
          (click)="onExportCsvFileClick($event)">Export table as CSV file</a>
      </div>
      <div class="col-md-6 area-profiles-spine-chart-image-container">
        <img src="{{spineChartImageUrl}}" />
      </div>
    </div>

    <!-- Data table -->
    <div class="row">
      <div class="col-md-12">
        <table id="single-area-table" class="bordered-table" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th id="spine-indicator-header" rowspan="2">Indicator</th>
              <th id="spine-period-header" rowspan="2">Period</th>
              <th style="position: relative;" class="numericHeader areaName topRow" [attr.colspan]="trendColSpan">
                <div [innerHtml]="shortAreaName"></div>&nbsp;
              </th>
              <th *ngIf="!isEnglandAreaSelected && isNationalAndRegional" class="numericHeader topRow parent-area-type"
                [innerHtml]="parentType"></th>
              <th *ngIf="!isEnglandAreaSelected && isNationalAndRegional" class="numericHeader topRow"
                style="position:relative;">England
              </th>
              <th id="england-header" *ngIf="!isEnglandAreaSelected" [attr.colspan]="colSpan"
                class="numericHeader topRow" style="width: 390px;">{{benchmarkName}}
                <div *ngIf="isAreaIgnored" id="no-spine-box">
                  <p>Due to its small population
                    <i>{{areaName}}</i> is not used to determine the lowest, highest and percentile values
                    required for the spine charts. However the area value is included in the
                    <i>{{benchmarkName}}</i> average.</p>
                </div>
              </th>
            </tr>
            <tr>
              <th *ngIf="areRecentTrendsDisplayed" class="numericHeader">Recent Trend</th>
              <th class="numericHeader">Count</th>
              <th class="numericHeader">Value</th>
              <th *ngIf="!isEnglandAreaSelected && isNationalAndRegional" class="numericHeader">Value</th>
              <th *ngIf="!isEnglandAreaSelected" class="numericHeader">Value</th>
              <th *ngIf="!isEnglandAreaSelected" class="numericHeader" [innerHtml]="lowest"></th>
              <th *ngIf="!isEnglandAreaSelected" class="spine250">Range</th>
              <th *ngIf="!isEnglandAreaSelected" class="numericHeader" [innerHtml]="highest"></th>
            </tr>
          </thead>
          <tbody id="spine-body">
            <tr *ngFor="let row of indicatorRows">
              <td [innerHtml]="getIndicatorNameHtml(row)" (click)="goToBarChart(row)" (mouseout)="hideTooltip()"
                (mousemove)="repositionTooltip($event)"></td>
              <td [innerHtml]="row.period"></td>
              <td *ngIf="areRecentTrendsDisplayed" [innerHtml]="row.recentTrendImage" (click)="goToTrends(row)"
                (mouseover)="showRecentTrendTooltip($event,row)" (mouseout)="hideTooltip()"
                (mousemove)="repositionTooltip($event)"></td>
              <td class="numeric" [innerHtml]="row.areaCount"></td>
              <td class="numeric" [innerHtml]="row.areaValue" data-toggle="tooltip" data-placement="top"
                title="{{row.areaValueTooltip}}"></td>
              <td *ngIf="!isEnglandAreaSelected && isNationalAndRegional" class="numeric"
                [innerHtml]="row.subnationalValue" data-toggle="tooltip" data-placement="top"
                title="{{row.subnationalValueTooltip}}"></td>
              <td *ngIf="!isEnglandAreaSelected" class="numeric" [innerHtml]="row.englandValue" data-toggle="tooltip"
                data-placement="top" title="{{row.englandValueTooltip}}"></td>
              <td *ngIf="!isEnglandAreaSelected" class="numeric" data-toggle="tooltip" data-placement="top"
                [innerHtml]="row.englandMin" title="{{row.minTooltip}}"></td>
              <td *ngIf="!isEnglandAreaSelected">
                <ft-spine-chart [dimensions]="row.spineChartDimensions" [tooltipHelper]="tooltipHelper"
                  [indicatorRow]="row"></ft-spine-chart>
              </td>
              <td *ngIf="!isEnglandAreaSelected" class="numeric" data-toggle="tooltip" data-placement="top"
                [innerHtml]="row.englandMax" title="{{row.maxTooltip}}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ft-light-box [lightBoxConfig]="lightBoxConfig"></ft-light-box>
  <ft-export-csv [csvConfig]="csvConfig"></ft-export-csv>
</div>
