<p>
    <b class="warning">To upload data for the following indicator(s) you will need permission to the owner profile:</b>
    <ul>
        @{
            foreach (var disallowedIndicator in ViewBag.Disallowed)
            {
                <li>@disallowedIndicator</li>
            }
        }
    </ul>
</p>