<div id="uploadBatchSummary" style="display: none;">
    <h2>Batch Indicator Upload</h2>
    <p>This template was created to submit data to PHOLIO for indicators which are already set up (i.e. essential metadata is specified). </p> 
    <p>It is suitable for any set of data and allows the upload of multiple indicators, and records which differ in Start year, Sex, Period, or Age, at a time. Due to its flexibility little automation can be provided. Please read the explanatory notes within the sheet or consult the Data Dictionary. Alternatively, contact an administrator for help. 
    </p> 							
    <p>The template consists of just one worksheet that needs to be completed: 
        <br/><b>"Pholio"</b> contains the actual data that will be uploaded. It is important that the data is entered in the format that is shown in the template. Any data entered into cells outside of this template will no be uploaded.
        <br/><b>"Notes & Lookup Tables"</b> Please refer to these two worksheets for information on how to complete the data in the correct format.
    <p>Please be aware, although the form contains a range of data validation and other checks, it cannot prevent an error if the information entered is theoretically possible. Some checks are carried out on upload and provide useful feedback for you to confirm that the information is exactly what you intended to enter and, in case an upload was unsuccessful, information about the reasons for failure will help correcting the issues.</p>
    <p>A common reason for upload failure is duplicated data: If data with the same specification already exists, these records need to be removed manually first before the new data can be uploaded. In this case please contact an administrator. This process is not automated to safeguard against accidental replacement of data by another set which might - for whatever reason - not be desireable.</p>
    <p>
        <input class="small-button" id="Cancel" onclick="lightbox.hide()" value="Close" />
    </p>
</div>