@model Fpm.Upload.BaseUpload
@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@{
    ViewBag.Title = "FPM - Indicator Upload Summary";
}

<div class="standardWidth upload-success" style="padding-top: 15px;">
    <h2 class="subheading">@Model.TotalDataRows row(s) uploaded successfully</h2>
    <table class="summary-table">
        <tr>
            <td class="left">File:</td>
            <td>@Model.ShortFileName</td>
        </tr>
        <tr>
            <td class="left">Upload Id:</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td class="left">&nbsp;</td>
            <td>
                <input type="button" id="cancel-spreadsheet" class="auto-width-button"
                       value="Back to upload page" onclick="location.href='@Url.Action("Index", "Upload")'" />
            </td>
        </tr>
    </table>
</div>
