<div id="data-quality-key" class="key-container clearfix" *ngIf="showDataQuality">
  <table class="data-quality-table" cellspacing="0">
    <tr>
      <td class="legendText">Data quality:</td>
      <td class="key-spacer"></td>
      <td>
        <div>
          <img src="/images/markers/square-red.png" alt="" />
        </div>
      </td>
      <td class="label">Significant concerns</td>
      <td class="key-spacer"></td>
      <td>
        <div>
          <img src="/images/markers/square-orange.png" alt="" />
        </div>
      </td>
      <td class="label">Some concerns</td>
      <td class="key-spacer"></td>
      <td>
        <div>
          <img src="/images/markers/square-green.png" alt="" />
        </div>
      </td>
      <td class="label">Robust</td>
      <td class="key-spacer"></td>
    </tr>
  </table>
</div>