<div class="row col boxplot-table">
    <table *ngIf="boxplotDataForTable" class="bordered-table table-hover table">
        <thead>
            <tr>
                <th></th>
                <th>Minimum</th>
                <th>5th
                    <br>Percentile</th>
                <th>25th
                    <br>Percentile</th>
                <th>Median</th>
                <th>75th
                    <br>Percentile</th>
                <th>95th
                    <br>Percentile</th>
                <th>Maximum</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of boxplotDataForTable">
                <td>{{data.period}}</td>
                <td [innerHtml]="getValueAndUnit(data, data.statsFormatted.Min)"></td>
                <td [innerHtml]="getValueAndUnit(data, data.statsFormatted.P5)"></td>
                <td [innerHtml]="getValueAndUnit(data, data.statsFormatted.P25)"></td>
                <td [innerHtml]="getValueAndUnit(data, data.statsFormatted.Median)"></td>
                <td [innerHtml]="getValueAndUnit(data, data.statsFormatted.P75)"></td>
                <td [innerHtml]="getValueAndUnit(data, data.statsFormatted.P95)"></td>
                <td [innerHtml]="getValueAndUnit(data, data.statsFormatted.Max)"></td>
            </tr>
            <tr>
                <td [innerHtml]="getTrendSource()" colspan="8" class="boxplot-trend-source"></td>
            </tr>
        </tbody>
    </table>
</div>