.boxplot-table {
    margin: 30px auto;
}

.boxplot-table table {
    font-size: 13px;
    min-width: 35% !important;
    width: auto;
    table-layout: auto !important;
    border-width: 0 !important;
    margin: 0 auto;
}

.boxplot-table th {
    font-size: 11px;
    text-align: right;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eceeef;
}

tbody tr td {
    text-align: right;
    width:80px;
}

tbody tr td:first-child {
    font-size: 11px;
    font-style: normal;
    min-width: 39px;
    text-align:center;
}

.boxplot-table td span {
    float: left;
}

.boxplot-trend-source {
    border: 0;
    padding: 5px 0 0 0;
    text-align: left !important;
    font-style: italic;
    overflow-wrap: break-word;
}

.boxplot-trend-source:hover {
    background-color: #fff;
}