<div ng-controller="uploadCtrl">
    <!-- File upload tab -->
    <div id="upload-menu" class="tab-pane">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h1>Select a file to upload</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Upload an Excel spreadsheet or CSV file for a batch of indicators.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <form id="batchUploadForm" class="form-inline" method="POST" action="/UploadBatchUpload" enctype="multipart/form-data">
                            <label class="btn btn-primary btn-file">
                                Browse for file<input type="file" style="display: none;" id="batch-excel-file" name="excelFile"
                                              size="47" custom-on-change="batchFileSelected"/>
                            </label>
                            <input type="submit" value="Upload" class="btn btn-success" ng-show="fileReadyForUpload"/>
                        </form>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{pageConst.batchTemplateUrl}}"><small>Download the latest Excel template (last updated {{pageConst.batchLastUpdated}})</small></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Wrong file type error -->
        <div class="allowed-filetypes standardWidth" ng-show="!isFileTypeOk">
            <strong>Wrong file type, only allowed files are csv, xls and xlsx</strong>
        </div>
    </div>
</div>