<div ng-controller="queueCtrl" class="col-md-12">
    <div ng-show="loading" class="text-center">
        <br />
        <br />
        <br />
        <img src="/images/ajax-loader.gif" />
    </div>
    <div ng-show="!loading" class="row">
        <div class="col-md-12">
            <h1 ng-if="areJobsInQueue">Active upload jobs</h1>
            <h1 ng-if="!areJobsInQueue">No upload jobs either in progress or in the queue</h1>
        </div>
    </div>
    <table ng-show="!loading && areJobsInQueue" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    User
                </th>
                <th>
                    Status
                </th>
                <th>
                    File
                </th>
                <th ng-show="isCurrentUserAdmin">
                    Admin
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="job in queueData" ng-class="getRowClass(job)">
                <td>{{job.DateCreatedF}}</td>
                <td>{{job.Username}}</td>
                <td>{{job.StatusText}}</td>
                <td>{{job.Filename}}</td>
                <td ng-show="isCurrentUserAdmin">
                    <small>{{job.Guid}}</small>
                    <button ng-show="job.Status === 200" class="btn btn-danger" ng-click="setJobToUnexpectedError(job)">Set as failed job</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
