<ul id="areaMenuBox" class="menu geo-menu left-menu" style="display: none;">
    <li>
        <select id="areaMenu">
            <option></option>
        </select>
        <div id="area-search-link-box">
            <a id="area-search-link" onclick="searchOptionClicked();">Search for an area</a>
        </div>
    </li>
    <li>
        <ul class="inner-menu">
            <li class="area-next-back"><input class="menu-next" type="button" onclick="advanceAreaMenuClicked(1);" /></li>
            <li class="area-next-back"><input class="menu-prev" type="button" onclick="advanceAreaMenuClicked(-1);" /></li>
            <li class="heading">Area</li>
        </ul>
    </li>
</ul>