@using IndicatorsUI.DomainObjects
@using IndicatorsUI.MainUI.Models
@model PageModel
@{
    var profileKey = ViewBag.ProfileUrlKey;
    var pageType = Model.PageType;
    var isPageRootProfileCollection = ViewBag.IsPageRootProfileCollection ?? false;
}

<ul class="breadcrumbs">

    @* Home *@
    <li class="site-link"><a href="/">Home</a></li>

    @* Profile group introduction *@
    @if (isPageRootProfileCollection)
    {
        <li class="breadcrumb-separator">></li>
        <li class="site-link">
            <a href="/profile-group/@ViewBag.LeadProfileUrlKey">@Model.ProfileCollections[0].CollectionName</a>
        </li>
    }

    @* Introduction *@
    @if (pageType == PageType.FrontPageOfProfileWithFrontPage ||
         pageType == PageType.DataPageOfProfileWithFrontPage ||
        pageType == PageType.SupportingInformation ||
        pageType == PageType.AreaSearchResultsOfProfileWithFrontPage)
    {
        <li class="breadcrumb-separator">></li>

        if (isPageRootProfileCollection)
        {
            <li class="site-link">
                <a href="/profile-group/@ViewBag.LeadProfileUrlKey/profile/@profileKey">Introduction</a>
            </li>
        }
        else
        {
            <li class="site-link"><a href="/profile/@profileKey">Introduction</a></li>
        }
    }

    @* Data page *@
    @if (pageType == PageType.DataPageOfProfileWithFrontPage)
    {
        <li class="breadcrumb-separator">></li>
        if (isPageRootProfileCollection)
        {
            <li class="site-link"><a href="/profile-group/@ViewBag.LeadProfileUrlKey/profile/@profileKey/data">Data</a></li>
        }
        else
        {
            <li class="site-link"><a href="/profile/@profileKey/data">Data</a></li>
        }
    }
    else if (pageType == PageType.DataPageOfProfileWithoutFrontPage)
    {
        <li class="breadcrumb-separator">></li>
        <li class="site-link"><a href="/@profileKey">Data</a></li>
    }

    @* Area search results *@
    @if (pageType == PageType.AreaSearchResultsOfProfileWithFrontPage)
    {
        <li class="breadcrumb-separator">></li>
        <li class="site-link">
            <span>Area search results</span>
        </li>
    }

    @* Other page *@
    @if (pageType == PageType.SupportingInformation)
    {
        var contentItem = (ContentItem)ViewBag.SupportingInformationContentItem;
        <li class="breadcrumb-separator">></li>
        <li class="site-link">
            <a href="/profile/@profileKey/supporting-information/@contentItem.ContentKey">
                @contentItem.Description
            </a>
        </li>
    }
    else if (pageType == PageType.IndicatorListDataPage)
    {
        if (User.Identity.IsAuthenticated)
         {
             <li class="breadcrumb-separator">></li>
             <li class="site-link">
                 @Html.ActionLink("Your indicator lists", "Index", "IndicatorList")
             </li>
         }
    }
</ul>