<div class="full-width grey clearfix">
    @Html.Partial("Domains")
</div>
<div id="domain-divider" class="full-width title-divider"></div>
<div class="full-width clearfix">
    @Html.Partial("ViewOptions")
</div>
<div id="main" class="clearfix" style="display: none;">
    @Html.Partial("PageContainers")
</div>
<div class="container">
    @Html.Partial("Spinner")
</div>
