<div class="full-width grey clearfix">
    @Html.Partial("_Domains")
</div>
<div id="domain-divider" class="full-width title-divider"></div>
<div class="full-width clearfix">
    @Html.Partial("_ViewOptions")
</div>
<div id="main" class="clearfix" style="display: none;">
    @Html.Partial("_PageContainers")
</div>
@Html.Partial("_Spinner")
