@using IndicatorsUI.MainUI.Helpers
@using IndicatorsUI.MainUI.Models;
@using IndicatorsUI.DomainObjects;
@model PageModel
@* Header for Healthier Lives style profiles *@
<div id="header_top" class="clearfix">
    <a href="https://www.gov.uk/government/organisations/public-health-england" title="Public Health England">
        <img src="@(ViewBag.ImagesUrl)logos/PHE30.png" height="30px" />
    </a>
    <div id="profile-topic">
        <div id="selected-topic"></div>
    </div>
</div>

