<div id="value-note-legend" class="fl clearfix" style="display:none;">
    <span style="font-size: 1.2em;color:#333;position:relative;top:4px;">*</span> a note is attached to the value, hover over to see more details
</div>