@model Profiles.MainUI.Models.PageModel

@if (Model.HasRecentTrends)
{
    <div id="trend-marker-legend" style="display: none;">
        <table class="key-table" cellspacing="0">
            <tr>
                <td><img src="~/images/trends/info.png" class="trend-info" onclick="showTrendInfo()" />&nbsp;&nbsp;&nbsp;</td>
                
                <td class="key-label">Recent trends:<br>(in development)</td>
                <td><img src="~/images/trends/no_calc.png"/></td>
                <td class="legendText">Could not be<br>calculated</td>

                <td><img src="~/images/trends/up_red.png"/></td>
                <td class="legendText">Increasing /<br>Getting worse</td>

                <td><img src="~/images/trends/up_green.png"/></td>
                <td class="legendText">Increasing /<br>Getting better</td>

                <td><img src="~/images/trends/down_red.png"/></td>
                <td class="legendText">Decreasing /<br>Getting worse</td>

                <td><img src="~/images/trends/down_green.png"/></td>
                <td class="legendText">Decreasing /<br>Getting better</td>

                <td><img src="~/images/trends/no_change.png"/></td>
                <td class="legendText">No significant<br>change</td>

                <td><img src="~/images/trends/up_blue.png"/></td>
                <td class="legendText">Increasing</td>

                <td><img src="~/images/trends/down_blue.png"/></td>
                <td class="legendText">Decreasing</td>
            </tr>
        </table>
    </div>
}