@model IndicatorsUI.MainUI.Models.PageModel
<div class="standard-width clearfix">
    @Html.Partial("_KeyTartanRug")
    
    @* used for dynamically generated keys *@
    <div id="key-ad-hoc" class="key-container" style="display: none;"></div>
</div>