<div id="footer">
    <div id="footer_wrap" class="clearfix">
        <div class="footer_links">
            <h3>Find out more about public health</h3>
            <ul class="col1">
                <li><a href="https://www.gov.uk/government/organisations/public-health-england" target="_blank">Public Health England</a></li>
                <li><a href="http://www.healthprofiles.info" target="_blank">Health Profiles</a></li>
                <li><a href="http://www.local.gov.uk" target="_blank">Local Government Association</a></li>
                <li><a href="http://www.nice.org.uk/guidance/phg/published/index.jsp" target="_blank">NICE</a></li>
            </ul>
            <ul>
                <li><a href="http://www.nhs.uk/Pages/HomePage.aspx" target="_blank">NHS Choices</a></li>
                <li><a href="http://www.healthwatch.co.uk" target="_blank">Healthwatch</a></li>
                <li><a href="https://fingertips.phe.org.uk/profile/public-health-outcomes-framework" target="_blank">Public Health Outcomes Framework</a></li>
                <li><a href="http://www.gov.uk" target="_blank">GOV.UK</a></li>
            </ul>
        </div>
        @Html.Partial("_PoliciesAndCopyright")
    </div>
</div>
