@using Profiles.DomainObjects
@using Profiles.MainUI.Models;
@model PageModel
<a href="/content" class="visuallyhidden">Skip to content</a>
<div id="header">
    @Html.Partial("_Header")
    <div id="header_nav">
        @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div id="nav_wrap">
@*                <p class="header_summary_tag">@Model.Title</p>*@
                <div id="nav_border" class="clearfix">                    
                    <ul>
                        <li id="home-nav"><a href="javascript:MT.nav.home();">Home</a></li>
                        @if (Model.ProfileId == ProfileIds.LongerLives)
                        {
                            <li id="rankings-nav"><a href="javascript:MT.nav.rankings();">Mortality rankings</a></li>
                        }
                        else
                        {
//                            this is here becuase of shared about-project page between diabetes and mortality
                             <li id="rankings-nav"><a href="javascript:MT.nav.rankings();">National comparisons</a></li>
                        }
                        
                        <li id="about-project-nav"><a href="/topic/@ViewBag.ProfileUrlKey/about-project">About the project</a></li>
                        <li id="about-data-nav"><a href="/topic/@ViewBag.ProfileUrlKey/about-data">About the data</a></li>
                        <li id="connect-nav"><a href="/topic/@ViewBag.ProfileUrlKey/connect">Connect</a></li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
