@using IndicatorsUI.MainUI.Models
@model PageModel
<div class="standard-width clearfix">
    <div id="graph-container" app-root></div>
    <div id="no-domain-data" class="tall-central-message" style="display: none;">No indicators for current area type</div>
    @Html.Partial("_GoogleMaps")
</div>