@using IndicatorsUI.MainUI.Models
@model PageModel
<div class="standard-width clearfix">
    <ft-data-view></ft-data-view>
    <div id="main-info-message" class="tall-central-message" style="display: none;"></div>
    @Html.Partial("_GoogleMaps")
</div>