<ul id="region-menu-box" class="menu geo-menu" style="display: none;">
    <li>
        <select id="regionMenu">
            <option />
        </select>
    </li>
    <li class="heading"><div class="parent-area-type"></div>
    </li>
</ul>

