<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container" id="phe-banner">
        <a class="navbar-brand" href="https://www.gov.uk/government/organisations/public-health-england">
            <span>Public Health England</span>
        </a>
    </div>
</nav>