<div id="phe-banner" class="full-width clearfix">
    <div class="standardWidth">
        <a href="https://www.gov.uk/government/organisations/public-health-england">
            <span>Public Health England</span>
        </a>
    </div>
</div>