@using Profiles.MainUI.Helpers
@model Profiles.MainUI.Models.PhofBody
<div class="full-width title-divider"></div>
<div class="standardWidth clearfix">
    <div class="supporting-information">
        @ContentProvider.GetContent(Model.ContentKey, Model.ProfileId)
    </div>
</div>
