<div id="site_policies" class="col-md-3 footer_links">
    <h3>Site policies</h3>
    <ul>
        <li><a href="https://healthierlives.phe.org.uk/policy/privacy">Privacy Policy</a></li>
        <li><a href="https://healthierlives.phe.org.uk/policy/accessibility">Accessibility</a></li>
        <li><a href="https://healthierlives.phe.org.uk/policy/cookies">Cookies</a></li>
    </ul>
</div>
<div id="footer_copyright" class="col-md-12">
    <p class="col-md-6">All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence">Open Government Licence</a>, except where otherwise stated</p>
    <p class="col-md-6 copyright">&copy; Crown Copyright</p>
</div>
