@using Profiles.MainUI.Common
    <div class="standardWidth clearfix practice-profiles-domain-list" style="position: relative;">
        <h2>Topics</h2>
        <table class="home-profiles">
            <tbody>
                @{
                    int itemCount = ViewBag.AvailableDomains.Count;
                    int columnCount = itemCount == 4
                        ? 2 // 2 x 2
                        : 3;
                    int columnWidth = 100 / columnCount;
                    var rowAssigner = new RowAssigner(columnCount);
                }

                @foreach (var domain in ViewBag.AvailableDomains)
                {
                    if (rowAssigner.IsItemFirstOfRow)
                    {
                    @Html.Raw("<tr>")
                    }

                    <td style="width:@(columnWidth)%;">
                            @{
                                string tooltip = domain.Tooltip ?? string.Empty;
                                const int currentYear = 2015;
                            }
                            <a class="title" href="/profile/@Model.ProfileUrlKey/data#mod,1,pyr,@currentYear,pat,19,par,-,are,-,sid1,@domain.GroupId,ind1,-,sid2,-,ind2,-">@domain.SubHeading</a>
                            <p class="domainContent">@tooltip</p>                                
                    </td>

                    if (rowAssigner.IsItemLastOfRow)
                    {
                    @Html.Raw("</tr>")
                    }

                    rowAssigner.ItemAdded();
                }
            </tbody>
        </table>
    </div>
