@using Profiles.MainUI.Models
@model PageModel
@if (!Model.HasExclusiveSkin && !Model.IsProfileWithOnlyStaticReports)
{
    if (Model.DefaultFingertipsTabId == -1)
    {
        <a id="startButton" href="/profile/@ViewBag.ProfileUrlKey/data"></a>
    }
    else
    {
        <a id="startButton" href="/profile/@ViewBag.ProfileUrlKey/data#page/@Model.DefaultFingertipsTabId"></a>
    }
}
