@model string

<div class="start-button">
    <div class="btn">
        <a href="@Model" title="START Go to the data">
            START
            <p>Go to the data</p>
        </a>
    </div>
</div>
@* Script to add click event to surrounding div not just the central link*@
<script>
        $(document).ready(function() {
            $('.start-button').on('click', function() {window.location.href = '@Model';});
        });
</script>