@using Profiles.DomainObjects
@using Profiles.MainUI.Helpers
@model Profiles.MainUI.Models.PageModel
<div id="twitter-box">
    <div id="twitter-image-link">
        <a href="http://twitter.com/intent/user?screen_name=phoutcomes" target="_blank">
            <img src="@(ViewBag.ImagesUrl)bird_48_blue.png" alt=""/></a>
    </div>
    <div id="twitter-text">
        @ContentProvider.GetContent(ContentKeys.Twitter, Model.ProfileId)
    </div>
</div>
