@model Profiles.MainUI.Models.PageModel
@if (Model.IsOfficialStatistics && ViewBag.ShowUpdateDelayedMessage)
{
    <div id="update-delayed" class="alert alert-info col-md-12">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        Today's update has been delayed for technical reasons.<br>We hope to publish it shortly.
    </div>
}