<div id="playbutton-video" class="col-md-12">
    <h2>User Guide</h2>
    <figure id="image-figure" class="figure">
        <img src="~/images/image-video/introduction-fingertips-tool.png" class="figure-img img-fluid rounded img-responsive" alt="An introduction to using the Fingertips Tool">
        <figcaption class="figure-caption"></figcaption>
    </figure>
</div>
