@using IndicatorsUI.MainUI.Models
<div class="row">
    <div id="playbutton-video" class="col-md-12">
        <h2>User Guide</h2>
        @Html.Partial("_VideoLink", new VideoLink
       {
           ImgSrc = "/images/image-video/introduction-fingertips-tool.png",
           VideoUrl = "https://www.youtube.com/watch?v=j_8WJUDldb8&feature=youtu.be",
           Alt = "An introduction to using the Fingertips Tool"
       })
    </div>
</div>
