@model IndicatorsUI.MainUI.Models.VideoLink
<figure id="image-figure" class="figure">
    <a href="@Model.VideoUrl" target="_blank">
        <img src="@Model.ImgSrc" class="figure-img img-fluid rounded img-responsive" alt="@Model.Alt">
    </a>
</figure>