<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Browser not supported</title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
        }
         
    </style>
</head>
<body>
<h2>Your web browser is out of date. Please use Internet Explorer 10 or greater.</h2>

<h3 style="margin-top: 50px;">If you are working within PHE you may need to change your compatibility settings:</h3>
<oL>
    <LI>Select the Tools menu at the top</LI>
    <LI>Select Compatibility view settings</LI>
    <LI>Untick Display intranet sites in Compatibility View</LI>
    <LI>Select Close</LI>
</oL>

<img src="/images/change-compatibility-settings.png" />
</body>
</html>
