@using Profiles.MainUI.Models
@model PageModel
@{
    var files = (IList<string>)ViewBag.ExtraJsFiles;
}
@if (files.Contains("PageMapNew.js"))
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyj06EYBaz66Rgi_wTeSmqI1_qBZxtuos&sensor=false" type="text/javascript"></script>
    <div id="map-container" class="standard-width clearfix">
        <div id="app_map">
            <div app-root></div><button id='TestButton' onclick='callAngularEvent();'></button>
        </div>
    </div>
}
<div id="no-domain-data" class="tall-central-message" style="display: none;">No indicators for current area type</div>
