<ul id="parentTypeBox" class="menu geo-menu" style="display: none;">
    <li>
        <select id="parentAreaTypesMenu">
            <option />
        </select>
    </li>
    <li class="heading">Areas grouped by:
    </li>
</ul>

