@model Profiles.MainUI.Models.PageModel
<div class="search-container">
    <input id="search-button" type="button" onclick="doSearch();" 
        title="Find the indicators in Fingertips that contain your specified keywords"
        value="" />
    @Html.TextBox("search", "Indicator keywords", new
{
    id = "searchBox",
    onkeypress = "searchKeyPress(event)",
    onfocus = "searchFocus(this)",
    onblur = "searchBlur(this)",
    @class = "searchBlur"
})
</div>
