<div class="container-fluid">
    <div class="row">
        <div id="spinner" class="col-md-12">
            <img src="@(ViewBag.ImagesUrl)spinner.gif" alt="" class="spinner" />
            <div id="spinnerLabel">loading</div>
        </div>
    </div>
</div>
