<div class="map-overlay" id="map-overlay-filters">
    <h5>Show data for</h5>
    <ul class="filters causes">
        <li id="Overall-Mortality" class="mortalityFilter active"><a onmouseover="this.style.cursor='pointer'">Overall premature deaths</a></li>
        <li id="Overall-Cancer" class="mortalityFilter"><a onmouseover="this.style.cursor='pointer'">Cancer</a></li>
        <li id="Overall-Lung-Cancer" class="mortalityFilter sub"><a onmouseover="this.style.cursor='pointer'">Lung cancer (all ages)</a></li>
        <li id="Overall-Breast-Cancer" class="mortalityFilter sub"><a onmouseover="this.style.cursor='pointer'">Breast cancer</a></li>
        <li id="Overall-Colorectal-Cancer" class="mortalityFilter sub"><a onmouseover="this.style.cursor='pointer'">Colorectal cancer</a></li>
        <li id="Overall-CardioVascular" class="mortalityFilter"><a onmouseover="this.style.cursor='pointer'">Heart disease and stroke</a></li>
        <li id="Overall-Heart-Disease" class="mortalityFilter sub"><a onmouseover="this.style.cursor='pointer'">Heart disease</a></li>
        <li id="Overall-Stroke" class="mortalityFilter sub"><a onmouseover="this.style.cursor='pointer'">Stroke</a></li>
        <li id="Overall-Lung" class="mortalityFilter"><a onmouseover="this.style.cursor='pointer'">Lung disease</a></li>
        <li id="Overall-Liver" class="mortalityFilter"><a onmouseover="this.style.cursor='pointer'">Liver disease</a></li>
        <li id="Overall-Injury" class="mortalityFilter"><a onmouseover="this.style.cursor='pointer'">Injury</a></li>
        <li id="Deprivation"><a onmouseover="this.style.cursor='pointer'">Socioeconomic deprivation</a>@Html.Partial("_DeprivationTooltip")</li>
    </ul>
</div>

