<div id="data_page_header" class="clearfix">
    <h1 class="area_name"></h1>
    <h3 id="area-address"></h3>   
    <div id="info_box_1" class="info_box"></div>
    <div id="info_box_2" class="info_box"></div>    
</div>