@using IndicatorsUI.MainUI.Helpers
@model IndicatorsUI.MainUI.Models.PageModel
@{
    Layout = "~/Views/LongerLives/Diabetes/_DiabetesLayoutPage.cshtml";
}
@section headContent {
}

@Html.Partial("_BasicBreadcrumb", "Key messages")

<div id="content" class="clearfix">
    <div id="related_content">
        @ContentProvider.GetContent("messages-related", Model.ProfileId)
    </div>
	<div id="main_content">
        @ContentProvider.GetContent("messages-main", Model.ProfileId)
	</div>
</div>
