/* ------------------------------------------------------------
	Introduction area search
------------------------------------------------------------ */
#area-search td {
    padding: 3px 0;
}

#area-search input {
    border: solid 2px #ddd;
    height: 32px;
    padding: 0;
    padding-left: 5px;
    width: 350px;
    font-size: 17px;
}

#area-search select {
    font-size: 17px;
    width: 200px;
    height: 32px;
}

#spinner {
    width: 100%;
    height: 214px;
}

#spinnerLabel {
    top: 75px;
    left:315px
}

img.spinner {
    top: 40px;
    left: 315px;
}


/* ------------------------------------------------------------
	Introduction area search results
------------------------------------------------------------ */

table.area-search-results {
    border-collapse: collapse;
    margin: 0 0 18px 11px;
    float: left;
    clear: both;
}

.area-search-results tr td {
    padding: 3px;
    padding-right: 50px;
    padding-left: 0;
    border: none;
    border-top: 2px solid #eee;
}

    /* area name column*/
    .area-search-results tr td:nth-child(1) {
        padding-right: 0;
        width: 230px;
    }

.area-search-results tr:hover td:nth-child(1) {
    font-weight: bold;
}

.area-search-results tr:hover {
    background: #C2EAE4;
}

#area-results-box h3 {
    margin-top: 25px;
    font-size: 18px;
    float: left;
    clear: both;
}

ul#no-matches-found {
    list-style: none;
}

#no-data-message {
    padding-top: 12px;
}

#spinner-box {
    padding-top: 100px;
}