@using Fpm.ProfileData
<div class="sidebar">
    <ul>
        <li>
            <a href="/lookup-tables/ages">Ages</a>
        </li>
        <li>
            <a href="/lookup-tables/categories">Categories</a>
        </li>
        <li>
            <a href="@SiteUrls.TargetIndex">Goals</a>
        </li>
        <li>
            <a href="/lookup-tables/sexes">Sexes</a>
        </li>
        <li>
            <a href="/lookup-tables/value-notes">Value notes</a>
        </li>
    </ul>
</div>