@using Fpm.ProfileData
<div class="col-md-12 link-options">
    <ul class="list-inline">
        <li>
            <a href="/lookup-tables/ages">Ages</a>
        </li>
        <li>
            <a href="/lookup-tables/area-types">Area types</a>
        </li>
        <li>
            <a href="/lookup-tables/categories">Categories</a>
        </li>
        <li>
            <a href="@SiteUrls.TargetIndex">Goals</a>
        </li>
        <li>
            <a href="/lookup-tables/sexes">Sexes</a>
        </li>
        <li>
            <a href="/lookup-tables/value-notes">Value notes</a>
        </li>
    </ul>
</div>