@using Fpm.MainUI
@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@{
    ViewBag.Title = "FPM - Lookup tables";
}
<link href="@(AppConfig.CssPath)TableSorter.css" rel="stylesheet" type="text/css" />

<div class="container row">
    @Html.Partial("_LookupSidebar")
    <div class="col-md-12">
        <h2 class="subheading">PHOLIO Lookup tables</h2>
        <p>Select an option above to see the contents of the lookup table. The IDs in these tables may be required for uploading data to PHOLIO.</p>
    </div>
</div>


