@using Fpm.MainUI
@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@{
    ViewBag.Title = "FPM - Lookup tables";
}
<link href="@(AppConfig.CssPath)TableSorter.css" rel="stylesheet" type="text/css" />

<div class="standardWidth">
    <h2 class="subheading">Lookup tables</h2>
    @Html.Partial("_LookupSidebar")
    <p>Select an option to see the contents of the lookup table. The IDs in these tables are required for batch uploads of data to PHOLIO.</p>
</div>


