<div class="light-box" *ngIf="showLightBox">
</div>
<div class="info-box" *ngIf="showLightBox">
  <div class="info-title-container">
    <button type="button" class="close" (click)="cancel()">X</button>
    <h2>{{this.lightBoxConfig.Title}}</h2>
  </div>
  <div class="info-container">
    <p class="info-text" [innerHtml]="this.lightBoxConfig.Html" *ngIf="!isInfoBoxOkCancelInput"></p>
  </div>
  <div class="info-button-container">
    <div *ngIf="isInfoBoxOk">
      <button class="btn btn-primary active ok" (click)="confirm()" [innerText]="okButtonText"></button>
    </div>

    <div *ngIf="isInfoBoxOkCancel">
      <button class="btn btn-primary active ok" (click)="confirm()">OK</button>
      <button class="btn btn-link active" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
