<div class="row">
    <div class="key-container col-md-8">
        <table class="key-table" cellspacing="0" *ngIf="showRag()">
            <tr>
                <td class="key-text key-label">Compared with benchmark</td>
                <td class="key-spacer"></td>
                <td class="better key">
                    <div class="tartan-box key-box">
                        <img class="tartan-fill print-only" src="/images/better.png" alt="">
                        <div class="tartan-text">
                            Better
                        </div>
                    </div>
                </td>
                <td class="same key">
                    <div class="tartan-box key-box">
                        <img class="tartan-fill print-only" src="/images/same.png" alt="">
                        <div class="tartan-text">
                            Similar
                        </div>
                    </div>
                </td>
                <td class="worse key">
                    <div class="tartan-box key-box">
                        <img class="tartan-fill print-only" src="/images/red.png" alt="">
                        <div class="tartan-text">
                            Worse
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="key-table" cellspacing="0" *ngIf="showBob()">
            <tr>
                <td class="key-text key-label">Compared with benchmark</td>
                <td class="key-spacer"></td>
                <td class="bobLower key">
                    <div class="tartan-box key-box">
                        <img class="tartan-fill print-only" src="/images/bobLower.png" alt="">
                        <div class="tartan-text">
                            Lower
                        </div>
                    </div>
                </td>
                <td class="same key">
                    <div class="tartan-box key-box">
                        <img class="tartan-fill print-only" src="/images/same.png" alt="">
                        <div class="tartan-text">
                            Similar
                        </div>
                    </div>
                </td>
                <td class="bobHigher key">
                    <div class="tartan-box key-box">
                        <img class="tartan-fill print-only" src="/images/bobHigher.png" alt="">
                        <div class="tartan-text">
                            Higher
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table id="not-compared" class="key-table" cellspacing="0" *ngIf="showBenchmark()">
            <tr>
                <td id="map-key-part2" class="none key key-box-right" style="display: table-cell;">
                    <div class="tartan-box key-box">
                        Not compared
                    </div>
                </td>
            </tr>
        </table>

        <table class="key-table custom-key-table" cellspacing="2" *ngIf="showQuartiles()">
            <tbody>
                <tr>
                    <td class="key-text">Quartiles:</td>
                    <td style="background-color: #E8C7D1;">Low</td>
                    <td style="background-color: #B74D6D;" class="whiteText">&nbsp;</td>
                    <td style="background-color: #98002E;" class="whiteText">&nbsp;</td>
                    <td style="background-color: #700023;" class="whiteText">High</td>
                </tr>
            </tbody>
        </table>

        <table class="key-table custom-key-table" cellspacing="2" *ngIf="showQuintiles()">
            <tr>
                <td class="key-text">Quintiles:</td>
                <td style="background-color: #DED3EC;">Low</td>
                <td style="background-color: #BEA7DA;">&nbsp;</td>
                <td style="background-color: #9E7CC8;" class="whiteText">&nbsp;</td>
                <td style="background-color: #7E50B6;" class="whiteText">&nbsp;</td>
                <td style="background-color: #5E25A4;" class="whiteText">High</td>
            </tr>
        </table>

        <table class="key-table custom-key-table" cellspacing="0" *ngIf="showContinuous()">
            <tr>
                <td class="key-text">Continuous:</td>
                <td style="background-color: #FFE97F;">Lowest</td>
                <td class="continual_range whiteText">&nbsp;</td>
                <td style="background-color: #151C55;" class="whiteText">Highest</td>
            </tr>
        </table>
    </div>
    <div id="value-note-legend" class="col-md-4 pull-right">
        <span class="asterisk">*</span> a note is attached to the value, hover over to see more details
    </div>
</div>