.asterisk {
    font-size: 1.2em;
    color: #333;
    position: relative;
    top: 4px;
}

.key-box {
    display: block;
    overflow: hidden;
}

#not-compared {
    margin-left: 10px;
}

.key-container {
    min-height: 25px;
}

.custom-key-table td {
    width: 80px;
    text-align: center;
    padding: 2px;
}

.key-container {
    float: left;
    margin: 10px 0 20px 0;
}

#key-Quartiles,
#key-Quintiles,
#key-Continuous {
    position: relative;
}

.fl {
    float: left;
}

.key-table {
    font-size: 11px;
    color: #777;
    float: left;
}

.key-label {
    font-style: italic;
    text-align: right;
}

.key-spacer {
    width: 15px;
}

td.better,
span.better {
    background-color: #92d050;
    color: #333;
}

td.worse,
td.same,
td.better,
td.none,
.bobLower,
.bobHigher,
.grade-quintile-1,
.grade-quintile-2,
.grade-quintile-3,
.grade-quintile-4,
.grade-quintile-5 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    cursor: default;
}

td.bobLower,
span.bobLower {
    background-color: #5555e6;
    color: #fff;
}

td.bobHigher,
span.bobHigher,
td.overlapping-cis {
    background-color: #bed2ff;
}

td.grade-quintile-1,
span.grade-quintile-1 {
    background-color: #ded3ec;
    color: #000;
}

td.grade-quintile-2,
span.grade-quintile-2 {
    background-color: #bea7da;
    color: #000;
}

td.grade-quintile-3,
span.grade-quintile-3 {
    background-color: #9e7cc8;
    color: #fff;
}

td.grade-quintile-4,
span.grade-quintile-4 {
    background-color: #7e50b6;
    color: #fff;
}

td.grade-quintile-5,
span.grade-quintile-5 {
    background-color: #5e25a4;
    color: #fff;
}

td.key-box-right {
    border-right: 1px solid #eee;
}

td.none {
    background-color: #fff;
}

#value-note-legend {
    float: right;
    font-size: 11px;
    color: #777;
    text-align: right;
    margin-top: 8px;
}