@using System.Web.Optimization
@model Fpm.ProfileData.Entities.Exceptions.ExceptionLog
@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@{
    ViewBag.Title = "FPM - Exception Details";
}
@Scripts.Render("~/exception-log.js")

<div class="standardWidth">
    @Html.Partial("_ExceptionDetail")
</div>

<script type="text/javascript">
     $('#exception-detail').show();
     $('#exception-detail-buttons').hide();
</script>

