@using IndicatorsUI.DomainObjects
@using IndicatorsUI.MainUI.Helpers
@using IndicatorsUI.MainUI.Models
@model PageModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section headContent {
    @Html.Partial("_JavaScriptAndCssForContentPage")
}
<div class="title-divider"></div>
<div class="container">
    <div class="row">
        <div id="profile-collection-with-front-page" class="col-md-12">
            @ContentProvider.GetContent(ContentKeys.Introduction, Model.ProfileId)

            @foreach (var profileCollection in Model.ProfileCollections)
            {
                @Html.Partial("_ProfileCollection", profileCollection)
            }
        </div>
    </div>
</div>