@using System.Web.Optimization
@using IndicatorsUI.MainUI.Models
@model PageModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section headContent {
    @Html.Partial("_JavaScriptAndCssExtraForAreaSearch")
    @Html.Partial("_JavaScriptAndCssForContentPage")
}
<div class="title-divider"></div>
<div id="intro-and-recent-updates">
    @Html.Partial("_IntroductionAndRecentUpdates")
</div>